<!DOCTYPE html><html><head> 
  <link href="../css/main.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="../MarkdownWebapp/MarkdownWebapp.nocache.js"></script> 
  <script type="text/javascript" src="../ace/ace.js"></script> 
  <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
  <script type="text/javascript">window["_GOOG_TRANS_EXT_VER"] = "1";</script> 
  <title>Ext JS 向导 | containers</title> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script async="" type="text/javascript" src="../../../../https@use.typekit.com/bqo8qzg.js"></script> 
  <script type="text/javascript">

    function showMenu(link_obj){
      var menu = document.getElementById("tpl-toc");

      link_obj.innerHTML = (link_obj.innerHTML == 'CLOSE MENU') ? 'MENU' : 'CLOSE MENU';

      if(menu.style.display == 'block'){
         menu.style.display = 'none';
      }else{
         menu.style.display = 'block';
      }
    }

  </script> 
 </head> 
 <body> 
  <div id="header"> 
   <a href="../../../../www.sencha.com/default.htm"><img class="sencha-logo" src="../images/logo.png" /></a> 
   <h1 id="current-product"><a href="#">Ext JS 向导 ▼</a></h1> 
   <div id="mobile_menu"> 
    <a id="mobile_menu_link" onclick="showMenu(this);" href="#">MENU</a> 
   </div> 
    
  </div> 
  <div id="content" itemscope="" itemtype="http://schema.org/Article"> 
   <div id="tpl-toc"> 
    <div id="tpl-toc-content"> 
     <a class="toggle-button" href="#">expand</a> 
     <ul> 
      <li class="file"><a href="../../../default.htm" data-full-load="true" title="Home">Sencha 向导</a></li> 
      <li class="file"><a href="../index.html" title="Guide Home">Sencha Ext JS 向导</a></li> 
      <li class="folder"><a href="#">快速入门</a> 
       <ul expand="false"> 
        <li class="file"><a href="../getting_started/getting_started.html" title="Get Started">安装 &amp; 快速入门</a></li> 
        <li class="file"><a href="../getting_started/extjs_faq.html" title="">Ext JS - 问答</a></li> 
        <li class="file"><a href="../getting_started/login_app.html" title="">创建一个简单的登录应用</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Ext JS 6 API 文档</a> 
       <ul expand="false"> 
        <li class="file"><a href="../6.0.2-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.2-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.1-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.1-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.0-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.0-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Modern API 文档</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">API 版本差异</a> 
       <ul expand="false"> 
        <li class="file"><a href="../api_diffs/602_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Classic</a></li> 
        <li class="file"><a href="../api_diffs/602_modern_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Modern</a></li> 
        <li class="file"><a href="../api_diffs/601_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Classic</a></li> 
        <li class="file"><a href="../api_diffs/601_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Modern</a></li> 
        <li class="file"><a href="../api_diffs/600_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 5.1.1 &amp; 6.0.0 Classic</a></li> 
        <li class="file"><a href="../api_diffs/600_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between Touch 2.4.2 &amp; 6.0.0 Modern</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Examples</a> 
       <ul expand="false"> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.2/examples/default.htm" data-full-load="true" title="">6.0.2 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.1/examples/default.htm" data-full-load="true" title="">6.0.1 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.0/examples/default.htm" data-full-load="true" title="">6.0.0 Examples</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">新特性</a> 
       <ul expand="false"> 
        <li class="file"><a href="../whats_new/release_notes.html" title="">版本发布说明</a></li> 
        <li class="file"><a href="../whats_new/whats_new.html" title="">Ext JS 6 新特性</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">升级 &amp; 迁移</a> 
       <ul expand="false"> 
        <li class="file"><a href="../upgrades_migrations/extjs_upgrade_guide.html" title="">Ext JS 5 到 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/modern_upgrade_guide.html" title="">Touch 2.4 to 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/pivot_grid_update_guide.html" title="">Ext JS 6 - Pivot Grid 升级向导</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">核心思想</a> 
       <ul expand="false"> 
        <li class="file"><a href="../core_concepts/classes.html" title="The 类系统">类系统</a></li> 
        <li class="file"><a href="../core_concepts/layouts.html" title="布局和容器">布局和容器</a></li> 
        <li class="file"><a href="../core_concepts/components.html" title="Components">Components</a></li> 
        <li class="file"><a href="../core_concepts/data_package.html" title="数据封装">数据封装</a></li> 
        <li class="file"><a href="../core_concepts/events.html" title="Events in Ext JS">事件和手势</a></li> 
        <li class="file"><a href="../core_concepts/drag_drop.html" title="拖放">拖放</a></li> 
        <li class="file"><a href="../core_concepts/theming.html" title="Theming Ext JS">主题</a></li> 
        <li class="file"><a href="../core_concepts/memory_management.html" title="">内存管理</a></li> 
        <li class="file"><a href="../core_concepts/accessibility.html" title="无障碍">无障碍</a></li> 
        <li class="file"><a href="../core_concepts/localization.html" title="本地化">本地化</a></li> 
        <li class="file"><a href="../core_concepts/rtl.html" title="Right to Left in Ext JS">Right to Left in Ext JS</a></li> 
        <li class="file"><a href="../core_concepts/font_ext.html" title="">Sencha 字体包</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../core_concepts/tablet_support.html" title="平板设备支持">平板设备支持</a></li> 
        <li class="folder"><a href="#">绘图封装</a> 
         <ul expand="false"> 
          <li class="file"><a href="../core_concepts/draw/drawing.html" title="">绘图封装</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt1.html" title="">Creating Images with Draw - Part 1</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt2.html" title="">Creating Images with Draw - Part 2</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt3.html" title="">Creating Images with Draw - Part 3</a></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">架构</a> 
       <ul expand="false"> 
        <li class="file"><a href="../application_architecture/application_architecture.html" title="应用程序架构介绍">应用程序架构介绍</a></li> 
        <li class="file"><a href="../application_architecture/developing_for_multiple_screens_and_environments.html" title="应用程序架构介绍">多屏幕开发</a></li> 
        <li class="file"><a href="../application_architecture/view_controllers.html" title="视图控制器View Controllers">视图控制器View Controllers</a></li> 
        <li class="file"><a href="../application_architecture/view_models_data_binding.html" title="View Models &amp; 数据绑定">View Models &amp; 数据绑定</a></li> 
        <li class="file"><a href="../application_architecture/view_model_internals.html" title="View Models Internals">View Model 内部机制</a></li> 
        <li class="file"><a href="../application_architecture/router.html" title="使用路由">使用路由</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">UI 组件</a> 
       <ul expand="false"> 
        <li class="file"><a href="forms.html" title="Forms">Forms</a></li> 
        <li class="file"><a href="introduction_to_charting.html" title="图表Charts介绍">图表Charts介绍</a></li> 
        <li class="file"><a href="trees.html" title="Trees">Trees</a></li> 
        <li class="file"><a href="grids.html" title="Grids">Grids</a></li> 
        <li class="file"><a href="pivot_grid.html" title="Pivot Grid">Pivot Grid</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="widgets_widgets_columns.html" title="Widgets and Widget Columns">Widgets and Widget Columns</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">后台连接</a> 
       <ul expand="false"> 
        <li class="file"><a href="../backend_connectors/soap.html" title="SOAP服务">SOAP服务</a></li> 
        <li class="file"><a href="../backend_connectors/amf.html" title="AMF 数据源">AMF 数据源</a></li> 
        <li class="folder"><a href="#">Ext Direct</a> 
         <ul expand="false"> 
          <li class="file"><a href="../backend_connectors/direct/specification.html" title="Ext Direct 说明">Ext Direct 说明</a><span class="tpl-toc-img-new">★</span></li> 
          <li class="file"><a href="../backend_connectors/direct/mysql_php.html" title="Ext Direct 结合 MySQL 和 PHP">Ext Direct 结合 MySQL 和 PHP</a><span class="tpl-toc-img-new">★</span></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">其它</a> 
       <ul expand="false"> 
        <li class="file"><a href="../other_resources/oop_concepts.html" title="">OOP基础</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../other_resources/ecosystem.html" title="">Ext JS 生态</a></li> 
        <li class="file"><a href="../other_resources/sencha_blog.html" title="">来自 Sencha 博客</a></li> 
       </ul></li> 
      <li class="file"><a href="../supported_browsers.html" title="支持的浏览器">支持的浏览器</a></li> 
     </ul> 
    </div> 
   </div> 
   <div id="middle"> 
    <div id="tpl-content"> 
     <div> 
      <div class="toc-page" style="display:block;">
        Contents 
       <a class="toc-page-h2" href="#Container_Layouts_and_Child_Items" title="Container Layouts and Child Items">Container Layouts and Child Items</a> 
       <a class="toc-page-h3" href="#Floating_Child_Items" title="Floating Child Items">Floating Child Items</a> 
       <a class="toc-page-h2" href="#Closing" title="Closing">Closing</a> 
      </div> 
      <div id="tpl-content-name" itemprop="name"> 
       <h1>Ext.container.Container</h1> 
      </div> 
      <div id="tpl-content-articleBody" itemprop="articleBody"> 
       <p>Outside of Ext.Component, the base class for almost every other component in the library, containers are arguably the most important views in Ext JS. Any view within the Ext JS capable of owning child items is descended from the container class.<br />Container is a light weight class capable of managing the structure and placement of all child items through the use of the many available contianer layouts within the framework.</p> 
       <p>As its most basic use case, a container may be used to display HTML content.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 200,
    html: 'Hello World!'    // HTML content displayed in the container element
});</code></pre> 
       <p><strong>Note:</strong> If a Container is solely used to display HTML, a simple Component or Widget will be the better choice. While containers aren’t categorically expensive components in terms of DOM and memory weight, in this instance it’s not the most economical choice.</p> 
       <h2 id="Container_Layouts_and_Child_Items">Container Layouts and Child Items</h2> 
       <p>The greatest capability that containers introduce into the framework is the ability to own child components. Containers, through the use of container layouts, manage the sizing and positioning of child items. The layout system is too lengthy a topic to cover in this guide. We will showcase several layouts in this guide, but for further reading centered on layouts please refer to the “布局和容器 guide”.</p> 
       <p><strong>Note:</strong> All containers with child items should be configured with a layout unless you specifically require the items to be unmanaged. The exception will be container subclasses pre-defined with a layout (e.g. the tab panel class).</p> 
       <p>Child items may be configured on the container using the items config option. You may pass a component instance, though in most every case passing a config for the child component will be the recommendation. Passing a component config allows the framework to better manage the timing of child component creation and layout.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 200,
    layout: 'anchor',
    items: [{
        xtype: 'component',
        html: 'First Component'
    }, {
        xtype: 'component',
        html: 'Second Component'
    }]
});</code></pre> 
       <p>When adding items to a container you may have one or more config opotions that apply to all of the child items. Instead of setting the same config multiple times you can add the common config options to the container’s defaults config. Config option set in the defaults block will be applied to all child items unless a child item’s config overrides the value set in the defaults block.</p> 
       <p><strong>Note:</strong> Often times, container classes will have a default child item type that is used any time you add a child to the container. You can set the default child type yourself by using either the defaults config option or with the defaultType config option.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    // in this example we'll omit the height config and allow the child
    // components to dictate the height - an acceptable option when using the
    // anchor layout
    layout: 'anchor',
    defaults: {
        xtype: 'button',    // the default child type will be button
        margin: '0 0 20 0', // each child item will have a 20px bottom margin
        anchor: '100%'   // stretch the child items 100% horizontally
    },
    items: [{
        text: 'Button 1'
    }, {
        text: 'Button 2'
    }, {
        text: 'Button 3',
        margin: 0      // overrides the margin config in the defaults block
    }]
});</code></pre> 
       <p>Or you may add items to a container after it’s already been created. The container’s layout will handle the sizing and positioning of items added or removed at runtime.</p> 
       <p><strong>Note:</strong> Config options set in a defaults block will be added to child items at runtime as well as to items set on the container at the time it’s created.</p> 
       <pre mode="javascript" theme="chrome"><code>var ct = Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 200,
    // organizes child items vertically allowing them to take up all vertical
    // space when configured with a flex value
    layout: {
        type: 'vbox',
        align: 'stretch'
    },
    items: [{
        xtype: 'container',
        flex: 1,
        style: 'background: #ffeda0;'
    }]
});

// after 1 second we add a second child item to our parent
// container as the last child item in the items collection
Ext.defer(function () {
    ct.add({
        xtype: 'container',
        flex: 1,
        style: 'background: #feb24c;'
    });
}, 1000);</code></pre> 
       <p>Similarly, the insert method allows the adding of a child item anywhere you choose within the child items collection.</p> 
       <pre mode="javascript" theme="chrome"><code>var ct = Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 200,
    layout: {
        type: 'vbox',
        align: 'stretch'
    },
    items: [{
        xtype: 'container',
        flex: 1,
        style: 'background: #ffeda0;'
    }]
});

// after 1 second we insert a second child item as the first item in the
// collection -vs- add which adds the child item to the end of the collection
Ext.defer(function() {
    ct.insert(0, {
        xtype: 'container',
        flex: 1,
        style: 'background: #feb24c;'
    });
}, 1000);</code></pre> 
       <p>Conversely, you may remove a child item from a container. By default the child items is destroyed. However, using the optional second param on the remove method you can remove the child item from the parent container non-destructively. This comes in handy when you want to remove an item and later add it to another container.</p> 
       <p><strong>Note:</strong> If you intend to add a removed item to another container immediately you can use the add or insert method to add the existing </p> 
       <pre mode="javascript" theme="chrome"><code>var ct1 = Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 190,
    // organizes child items horizontally allowing them to take up all horizontal
    // space when configured with a flex value
    layout: {
        type: 'hbox',
        align: 'stretch'
    },
    items: [{
        xtype: 'container',
        flex: 1,
        style: 'background: #ffeda0;'
    }, {
        xtype: 'container',
        flex: 1,
        style: 'background: #feb24c;'
    }]
});

var ct2 = Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 190,
    margin: '20 0 0 0', // spaces our second container away from the first
    layout: {
        type: 'vbox',
        align: 'stretch'
    },
    items: [{
        xtype: 'container',
        flex: 1,
        style: 'background: #f03b20;'
    }]
});

// remove the child component in position 1 and save it for later use
var removed = ct1.remove(1, false);
// now add it to the second container
ct2.add(removed);

// alternatively, if the remove / add action is immediate you can just use add
// ct2.add(ct1.items.getAt(1));</code></pre> 
       <p>The items config option is also a property of the container that can be inpsected once child items have been added or configured on the container. Using the reference to the items collection you can do things like looping over the child items in order to inspect them or take some action on each component.</p> 
       <pre mode="javascript" theme="chrome"><code>var ct = Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 200,
    layout: {
        type: 'vbox',
        align: 'stretch'
    },
    items: [{
        xtype: 'component',
        flex: 1,
        html: 'Component 1'
    }, {
        xtype: 'component',
        flex: 1,
        html: 'Component 2'
    }]
});

// after 1 second we loop through the items collection and
// center the HTML of each component
Ext.defer(function() {
    ct.items.each(function (item) {
        item.setStyle({
            textAlign: 'center'
        });
    });
}, 1000);</code></pre> 
       <h3 id="Floating_Child_Items">Floating Child Items</h3> 
       <p>Components configured as floating behave a little differently than non-floating components when owned by a parent container. The floating component will be displayed above the other components belonging to the owning container. Floating components do not participate in the container layout’s logic. They will also not show up in the items collection, but rather can be found in the container’s floatingItems property.<br />The floatingItems property is a collection of all floating child items.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create({
    xtype: 'container',
    renderTo: Ext.getBody(),
    width: 200,
    height: 200,
    layout: {
        type: 'hbox',
        align: 'stretch'
    },
    items: [{
        xtype: 'container',
        flex: 1,
        style: 'background: #ffeda0;'
    }, {
        xtype: 'container',
        flex: 1,
        style: 'background: #feb24c;'
    }, {
        xtype: 'component',
        html: 'Floating Component',
        padding: '8 16',
        style: {
            backgroundColor: 'white'
        },
        // setting floating true adds this component to the container's
        // floatingItems collection
        floating: true,
        autoShow: true  // floating items are initially hidden by default
    }]
});</code></pre> 
       <p>Floating components do not need to be owned by a parent container in order to be displayed in an application above other components. So, why add a floating component to a container at all? Adding the floating component to a parent continer provides several unique benefits:</p> 
       <ol> 
        <li>The floating component may be configured with constrain: true along with draggable: true. When constrained and dragagble the floating component may be dragged by the user, but not beyond the bounds of the owning container’s element.</li> 
        <li>If the parent container is hidden all child components will be hidden including floating components</li> 
        <li>Destroying a parent container will destroy all child components including floating items. This frees the developer from having to destroy the floating component manually when the parent container is destroyed.</li> 
        <li>The floating component exists within the component hierarchy of the parent container which is useful for component query lookups, event handling by an ancestor view controller, or access to the data in parent container’s view model.</li> 
       </ol> 
       <p><strong>Note:</strong> While it pays to note here that a floating component owned by a container has access to the container’s view controller and view model, that subject is too large to delve into further here. For more information, please refer to the view controller and view model guides for an in-depth look at how to use those classes in your application architecture.</p> 
       <h2 id="Closing">Closing</h2> 
       <p>Containers along with their layouts provide the structure for the applications built with Ext JS. The logic required to manage the component hierarcy and its presentation is all handled seamlessly by the framework. This frees you up as the developer to focus on how best to architect the application presentation for optimal use by your end users.</p> 
       <p>In the panel guide we’ll look at how you can use the configuration options of panel to decorate your containers with additional useful UI componentry. In this guide we touched on what you can do when configuring a component as floating. After reading through the panel guide be sure to review the window guide to see what else you can do with a component designed to always be floating.</p> 
      </div> 
      <div class="tpl-content-lastUpdated">
        Last updated 
       <div id="tpl-content-lastUpdated-date" itemprop="datePublished" datetime="2016-04-01T12:27Z">
         April 1, 2016 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="footer"> 
   <div id="footer-social"> 
    <div class="g-plusone" data-size="medium" data-annotation="none"></div> 
   </div> 
   <div id="footer-content"> 
    <a href="../../../../www.sencha.com/products">Products</a> | 
    <a href="../../../../www.sencha.com/services">Services</a> | 
    <a href="../../../../www.sencha.com/support">Support</a> | 
    <a href="../../../../www.sencha.com/training">Training</a> | 
    <a href="../../../../www.sencha.com/partners">Partners</a> | 
    <a href="../../../../www.sencha.com/blog">Community</a> | 
    <a href="../../../../www.sencha.com/company">Company</a> 
   </div> 
  </div> 
  <div id="menu-product-container" style="display:none;"> 
   <div id="menu-dropdown"> 
    <div class="menu-landing-products"> 
     <div id="menu-vertical"> 
      <p class="menu-landing-product" rel="extjs"> <a> Sencha Ext JS </a> </p> 
      <p class="menu-landing-product" rel="cmd"> <a> Sencha Cmd </a> </p> 
      <p class="menu-landing-product" rel="sencha_test"> <a> Sencha Test </a> </p> 
      <p class="menu-landing-product" rel="ide_plugins"> <a> Sencha IDE Plugins </a> </p> 
      <p class="menu-landing-product" rel="sencha_inspector"> <a> Sencha Inspector </a> </p> 
      <p class="menu-landing-product" rel="gxt"> <a> Sencha GXT </a> </p> 
      <p class="menu-landing-product" rel="webappmgr"> <a> Sencha Web Application Manager </a> </p> 
      <p class="menu-landing-product" rel="architect"> <a> Sencha Architect </a> </p> 
      <p class="menu-landing-product" rel="touch"> <a> Sencha Touch </a> </p> 
     </div> 
    </div> 
    <div id="menu-product-details"> 
     <div id="extjs-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Ext JS 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../default.htm"> 6.0.2 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.2-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.2-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.1 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.1-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.1-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.0 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.0-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip" style="padding-left:0;" href="../../../downloads/extjs-docs-6.0.0-modern.zip"> (modern) </a> 
      <div class="menu-landing-doc-heading">
        5.1.x 
      </div> 
      <a href="../../5.1/default.htm"> 5.1.2 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.1 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.1.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.0.x 
      </div> 
      <a href="../../5.0/default.htm"> 5.0.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.0/default.htm"> 5.0.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.2.x 
      </div> 
      <a href="../../4.2.5/default.htm"> 4.2.5 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.5.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.4/default.htm"> 4.2.4 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.4.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.3/default.htm"> 4.2.3 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.3.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.2/default.htm"> 4.2.2 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.1/default.htm"> 4.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.0/default.htm"> 4.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.1.x 
      </div> 
      <a href="../../4.1.3/default.htm"> 4.1.3 </a> 
      <br /> 
      <a href="../../4.1.2/default.htm"> 4.1.2 </a> 
      <br /> 
      <a href="../../4.1.1/default.htm"> 4.1.1 </a> 
      <br /> 
      <a href="../../4.1.0/default.htm"> 4.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.0.x 
      </div> 
      <a href="../../4.0.7/default.htm"> 4.0.7 </a> 
      <br /> 
      <a href="../../4.0.0/default.htm"> 4.0.0 </a> 
     </div> 
     <div id="cmd-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Cmd 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../../../cmd/6.x"> 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.x 
      </div> 
      <a href="../../../cmd/5.x"> 5.x </a> 
     </div> 
     <div id="sencha_test-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Test 
      </div> 
      <a href="../../../sencha_test/index.html"> Sencha Test </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="ide_plugins-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha IDE Plugins 
      </div> 
      <a href="../../../ide_plugins/jetbrains_ide_plugin.html"> JetBrains Plugin 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/eclipse_ide_plugin.html"> Eclipse Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/visual_studio_ide_plugin.html"> Visual Studio Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="sencha_inspector-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Inspector 
      </div> 
      <a href="../../../sencha_inspector/index.html"> Sencha Inspector 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="gxt-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha GXT 
      </div> 
      <!-- GXT 4.0 --> 
      <div class="menu-landing-doc-heading">
        4.0 
       <span class="tpl-toc-img-new">★</span> 
      </div> 
      <a href="../../../../examples.sencha.com/gxt/4.0.1"> 4.0 Explorer Examples </a> 
      <br /> 
      <a href="../../../../examples.sencha.com/gxt-edash/4.0.1"> 4.0 Dashboard Example </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/gxt/examples-src/gxt-edash-4.0.1.zip"> (War) </a> 
      <br /> 
      <a href="../../../gxt/4.x/default.htm"> 4.0 Guides </a> 
      <br /> 
      <a href="../../../gxt/4.x/javadoc/gxt-4.0.0"> 4.0 Javadoc </a> 
      <br /> 
      <!-- GXT 3.1.x --> 
      <div class="menu-landing-doc-heading">
        3.1 
      </div> 
      <a href="../../../../www.sencha.com/examples/default.htm"> 3.1.4 Examples </a> 
      <br /> 
      <a href="../../../gxt/3.x/default.htm"> 3.1.4 Guides </a> 
      <br /> 
      <a href="../../../gxt/3.x/javadoc"> 3.1.4 Javadoc </a> 
      <br /> 
      <!-- GXT 3.0.x --> 
      <!-- GXT 2.x --> 
      <div class="menu-landing-doc-heading">
        2.0 
      </div> 
      <a href="../../../../https@www.sencha.com/examples-2/default.htm"> 2.3.1 Examples </a> 
     </div> 
     <div id="webappmgr-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Web Application Manager 
      </div> 
      <div class="menu-landing-doc-heading">
        6.0.x 
      </div> 
      <a href="../../../webappmgr"> 6.0.0 </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="architect-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Architect 
      </div> 
      <div class="menu-landing-doc-heading">
        3.x 
      </div> 
      <a href="../../../architect/3.5/default.htm"> 3.5 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../architect/3/default.htm"> 3.2 </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../../cdn.sencha.com/downloads/docs/architect-docs-3.zip"> (offline docs) </a> 
     </div> 
     <div id="touch-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Touch 
      </div> 
      <div class="menu-landing-doc-heading">
        2.4.x 
      </div> 
      <a href="../../../touch/2.4/default.htm"> 2.4.2 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/touch-docs-2.4.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/default.htm"> 2.4.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/2.4.0-apidocs"> 2.4.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.0.zip"> (offline docs) </a> 
      <div class="menu-landing-doc-heading">
        2.3.x 
      </div> 
      <a href="../../../touch/2.3.1/default.htm"> 2.3.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.3.0/default.htm"> 2.3.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.2.x 
      </div> 
      <a href="../../../touch/2.2.1/default.htm"> 2.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.2.0/default.htm"> 2.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.1.x 
      </div> 
      <a href="../../../touch/2.1.1/default.htm"> 2.1.1 </a> 
      <br /> 
      <a href="../../../touch/2.1.0/default.htm"> 2.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.0.x 
      </div> 
      <a href="../../../touch/2.0.2/default.htm"> 2.0.2 </a> 
      <br /> 
      <a href="../../../touch/2.0.1/default.htm"> 2.0.1 </a> 
      <br /> 
      <a href="../../../touch/2.0.0/default.htm"> 2.0.0 </a> 
     </div> 
    </div> 
   </div> 
  </div> 
   
  <script type="text/javascript">
    adroll_adv_id = "5RM2BL5IGRFLRG5VDQ7OIE";
    adroll_pix_id = "LWO7UZXBFVESTOMYFI2LYS";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username_40example.com"; */
    (function () {
      var _onload = function(){
        if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
        if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "../../../../https@s.adroll.com" : "../../../../a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      };
      if (window.addEventListener) {window.addEventListener('load', _onload, false);}
      else {window.attachEvent('onload', _onload)}
    }());
  </script> 
  <script>
    var menu = document.getElementById("tpl-toc"),
        link_obj = document.getElementById("mobile_menu_link"),
        links = menu.querySelectorAll('a');

    for(i=0; i < links.length; i++) {
      links[i].onclick = function() {
        var mq = window.matchMedia('only screen and (max-width: 768px)');

        if(mq.matches) {
          menu.style.display = 'none';
          link_obj.innerHTML = 'MENU';
        }
      }
    }

  </script> 
  <script type="text/javascript">
    </script>              <script src='../../../../munchkin.marketo.net/munchkin-beta.js' type='text/javascript'></script><script>Munchkin.init('374-WES-121');</script>   
 
</body></html>