<!DOCTYPE html><html><head> 
  <link href="../css/main.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="../MarkdownWebapp/MarkdownWebapp.nocache.js"></script> 
  <script type="text/javascript" src="../ace/ace.js"></script> 
  <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
  <script type="text/javascript">window["_GOOG_TRANS_EXT_VER"] = "1";</script> 
  <title>Ext JS 向导 | Grids</title> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script async type="text/javascript" src="../../../../https@use.typekit.com/bqo8qzg.js"></script> 
  <script type="text/javascript">

    function showMenu(link_obj){
      var menu = document.getElementById("tpl-toc");

      link_obj.innerHTML = (link_obj.innerHTML == 'CLOSE MENU') ? 'MENU' : 'CLOSE MENU';

      if(menu.style.display == 'block'){
         menu.style.display = 'none';
      }else{
         menu.style.display = 'block';
      }
    }

  </script> 
 </head> 
 <body> 
  <div id="header"> 
   <a href="../../../../www.sencha.com/default.htm"><img class="sencha-logo" src="../images/logo.png" /></a> 
   <h1 id="current-product"><a href="#">Ext JS 向导 ▼</a></h1> 
   <div id="mobile_menu"> 
    <a id="mobile_menu_link" onclick="showMenu(this);" href="#">MENU</a> 
   </div> 
    
  </div> 
  <div id="content" itemscope="" itemtype="http://schema.org/Article"> 
   <div id="tpl-toc"> 
    <div id="tpl-toc-content"> 
     <a class="toggle-button" href="#">expand</a> 
     <ul> 
      <li class="file"><a href="../../../default.htm" data-full-load="true" title="Home">Sencha 向导</a></li> 
      <li class="file"><a href="../index.html" title="Guide Home">Sencha Ext JS 向导</a></li> 
      <li class="folder"><a href="#">快速入门</a> 
       <ul expand="false"> 
        <li class="file"><a href="../getting_started/getting_started.html" title="Get Started">安装 &amp; 快速入门</a></li> 
        <li class="file"><a href="../getting_started/extjs_faq.html" title="">Ext JS - 问答</a></li> 
        <li class="file"><a href="../getting_started/login_app.html" title="">创建一个简单的登录应用</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Ext JS 6 API 文档</a> 
       <ul expand="false"> 
        <li class="file"><a href="../6.0.2-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.2-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.1-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.1-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.0-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.0-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Modern API 文档</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">API 版本差异</a> 
       <ul expand="false"> 
        <li class="file"><a href="../api_diffs/602_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Classic</a></li> 
        <li class="file"><a href="../api_diffs/602_modern_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Modern</a></li> 
        <li class="file"><a href="../api_diffs/601_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Classic</a></li> 
        <li class="file"><a href="../api_diffs/601_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Modern</a></li> 
        <li class="file"><a href="../api_diffs/600_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 5.1.1 &amp; 6.0.0 Classic</a></li> 
        <li class="file"><a href="../api_diffs/600_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between Touch 2.4.2 &amp; 6.0.0 Modern</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Examples</a> 
       <ul expand="false"> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.2/examples/default.htm" data-full-load="true" title="">6.0.2 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.1/examples/default.htm" data-full-load="true" title="">6.0.1 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.0/examples/default.htm" data-full-load="true" title="">6.0.0 Examples</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">新特性</a> 
       <ul expand="false"> 
        <li class="file"><a href="../whats_new/release_notes.html" title="">版本发布说明</a></li> 
        <li class="file"><a href="../whats_new/whats_new.html" title="">Ext JS 6 新特性</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">升级 &amp; 迁移</a> 
       <ul expand="false"> 
        <li class="file"><a href="../upgrades_migrations/extjs_upgrade_guide.html" title="">Ext JS 5 到 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/modern_upgrade_guide.html" title="">Touch 2.4 to 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/pivot_grid_update_guide.html" title="">Ext JS 6 - Pivot Grid 升级向导</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">核心思想</a> 
       <ul expand="false"> 
        <li class="file"><a href="../core_concepts/classes.html" title="The 类系统">类系统</a></li> 
        <li class="file"><a href="../core_concepts/layouts.html" title="布局和容器">布局和容器</a></li> 
        <li class="file"><a href="../core_concepts/components.html" title="Components">Components</a></li> 
        <li class="file"><a href="../core_concepts/data_package.html" title="数据封装">数据封装</a></li> 
        <li class="file"><a href="../core_concepts/events.html" title="Events in Ext JS">事件和手势</a></li> 
        <li class="file"><a href="../core_concepts/drag_drop.html" title="拖放">拖放</a></li> 
        <li class="file"><a href="../core_concepts/theming.html" title="Theming Ext JS">主题</a></li> 
        <li class="file"><a href="../core_concepts/memory_management.html" title="">内存管理</a></li> 
        <li class="file"><a href="../core_concepts/accessibility.html" title="无障碍">无障碍</a></li> 
        <li class="file"><a href="../core_concepts/localization.html" title="本地化">本地化</a></li> 
        <li class="file"><a href="../core_concepts/rtl.html" title="Right to Left in Ext JS">Right to Left in Ext JS</a></li> 
        <li class="file"><a href="../core_concepts/font_ext.html" title="">Sencha 字体包</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../core_concepts/tablet_support.html" title="平板设备支持">平板设备支持</a></li> 
        <li class="folder"><a href="#">绘图封装</a> 
         <ul expand="false"> 
          <li class="file"><a href="../core_concepts/draw/drawing.html" title="">绘图封装</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt1.html" title="">Creating Images with Draw - Part 1</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt2.html" title="">Creating Images with Draw - Part 2</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt3.html" title="">Creating Images with Draw - Part 3</a></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">架构</a> 
       <ul expand="false"> 
        <li class="file"><a href="../application_architecture/application_architecture.html" title="应用程序架构介绍">应用程序架构介绍</a></li> 
        <li class="file"><a href="../application_architecture/developing_for_multiple_screens_and_environments.html" title="应用程序架构介绍">多屏幕开发</a></li> 
        <li class="file"><a href="../application_architecture/view_controllers.html" title="视图控制器View Controllers">视图控制器View Controllers</a></li> 
        <li class="file"><a href="../application_architecture/view_models_data_binding.html" title="View Models &amp; 数据绑定">View Models &amp; 数据绑定</a></li> 
        <li class="file"><a href="../application_architecture/view_model_internals.html" title="View Models Internals">View Model 内部机制</a></li> 
        <li class="file"><a href="../application_architecture/router.html" title="使用路由">使用路由</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">UI 组件</a> 
       <ul expand="false"> 
        <li class="file"><a href="forms.html" title="Forms">Forms</a></li> 
        <li class="file"><a href="introduction_to_charting.html" title="图表Charts介绍">图表Charts介绍</a></li> 
        <li class="file"><a href="trees.html" title="Trees">Trees</a></li> 
        <li class="file"><a href="grids.html" title="Grids">Grids</a></li> 
        <li class="file"><a href="pivot_grid.html" title="Pivot Grid">Pivot Grid</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="widgets_widgets_columns.html" title="Widgets and Widget Columns">Widgets and Widget Columns</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">后台连接</a> 
       <ul expand="false"> 
        <li class="file"><a href="../backend_connectors/soap.html" title="SOAP服务">SOAP服务</a></li> 
        <li class="file"><a href="../backend_connectors/amf.html" title="AMF 数据源">AMF 数据源</a></li> 
        <li class="folder"><a href="#">Ext Direct</a> 
         <ul expand="false"> 
          <li class="file"><a href="../backend_connectors/direct/specification.html" title="Ext Direct 说明">Ext Direct 说明</a><span class="tpl-toc-img-new">★</span></li> 
          <li class="file"><a href="../backend_connectors/direct/mysql_php.html" title="Ext Direct 结合 MySQL 和 PHP">Ext Direct 结合 MySQL 和 PHP</a><span class="tpl-toc-img-new">★</span></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">其它</a> 
       <ul expand="false"> 
        <li class="file"><a href="../other_resources/oop_concepts.html" title="">OOP基础</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../other_resources/ecosystem.html" title="">Ext JS 生态</a></li> 
        <li class="file"><a href="../other_resources/sencha_blog.html" title="">来自 Sencha 博客</a></li> 
       </ul></li> 
      <li class="file"><a href="../supported_browsers.html" title="支持的浏览器">支持的浏览器</a></li> 
     </ul> 
    </div> 
   </div> 
   <div id="middle"> 
    <div id="tpl-content"> 
     <div> 
      <div class="toc-page" style="display:block;">
        Contents 
       <a class="toc-page-h2" href="#Basic_Grid_Panel" title="基础表格面板">基础表格面板</a> 
       <a class="toc-page-h3" href="#Model_and_Store" title="Model 和 Store">Model 和 Store</a> 
       <a class="toc-page-h3" href="#Grid_Panel" title="表格面板">表格面板</a> 
       <a class="toc-page-h2" href="#Renderers" title="表格渲染">表格渲染</a> 
       <a class="toc-page-h2" href="#Grouping" title="表格分组">表格分组</a> 
       <a class="toc-page-h2" href="#Selection_Models" title="选择模型">选择模型</a> 
       <a class="toc-page-h2" href="#Editing" title="编辑表格">编辑表格</a> 
       <a class="toc-page-h3" href="#Cell_Editing" title="单元格编辑">单元格编辑</a> 
       <a class="toc-page-h3" href="#Row_Editing" title="行编辑">行编辑</a> 
       <a class="toc-page-h2" href="#Paging" title="表格分页">表格分页</a> 
       <a class="toc-page-h3" href="#Store_Setup" title="Store设置">Store设置</a> 
       <a class="toc-page-h3" href="#Paging_Toolbar" title="分页工具栏">分页工具栏</a> 
       <a class="toc-page-h3" href="#Buffered_Rendering" title="缓冲渲染">缓冲渲染</a> 
      </div> 
      <div id="tpl-content-name" itemprop="name"> 
       <h1>Grids</h1> 
      </div> 
      <div id="tpl-content-articleBody" itemprop="articleBody"> 
       <p><a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 是 Ext JS 中的一个核心组件. 表格是一个提供一个简单方式来显示、排序、分组和编辑数据的迷人组件.</p> 
       <h2 id="Basic_Grid_Panel">基础表格面板</h2> 
       <p><img src="images/simple_grid.png" alt="基础表格面板" /></p> 
       <p>我们从添加一个基础的 <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 表格面板来开始. 这是你所有的的需要知道的如何来建立一个简单的表格和运行它:</p> 
       <h3 id="Model_and_Store">Model 和 Store</h3> 
       <p><a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 是一个用来显示包含在 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 里的数据的简单组件. <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 能被认为是一些记录的集合,或者一些 <a href="../6.0.1-classic/#!/api/Ext.data.Model" data-full-load="true">Ext.data.Model</a> 的实例.</p> 
       <p>这种设置的好处是分离开我们的关注点. <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 只关心数据的展示,而 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 使用  <a href="../6.0.1-classic/#!/api/Ext.data.proxy.Proxy" data-full-load="true">Ext.data.proxy.Proxy</a> 来关注数据的查询和存储.</p>  
       <p>首先, 我们需要定义一个 <a href="../6.0.1-classic/#!/api/Ext.data.Model" data-full-load="true">Ext.data.Model</a> 数据模型. 一个数据模型只是一系列用来表示数据类型的 <a href="../6.0.1-classic/#!/api/Ext.data.field.Field" data-full-load="true">fields(字段)</a>. 我们来定义一个表示 a <strong>“User”</strong>的数据模型:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.define('User', {
    extend: 'Ext.data.Model',
    fields: [ 'name', 'email', 'phone' ]
});</code></pre> 
       <p>然后我们来创建一个包含几个 <strong>“User”</strong> 实例的 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store(数据存储)</a> .</p> 
       <pre mode="javascript" theme="chrome"><code>var userStore = Ext.create('Ext.data.Store', {
    model: 'User',
    data: [
        { name: 'Lisa', email: 'lisa@simpsons.com', phone: '555-111-1224' },
        { name: 'Bart', email: 'bart@simpsons.com', phone: '555-222-1234' },
        { name: 'Homer', email: 'homer@simpsons.com', phone: '555-222-1244' },
        { name: 'Marge', email: 'marge@simpsons.com', phone: '555-222-1254' }
    ]
});</code></pre> 
       <p>为了简化操作,我们配置 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 来加载内置数据. 在真正的应用程序中, 你极可能要配置 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 来使用一个 <a href="../6.0.1-classic/#!/api/Ext.data.proxy.Proxy" data-full-load="true">Ext.data.proxy.Proxy</a> 来从服务器加载数据.</p> 
       <h3 id="Grid_Panel">表格面板</h3> 
       <p>现在,我们有了一个model,定义了我们的数据结构. 我们也加载了几条 model 实例数据到了一个 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 中了.我们准备好了使用  <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 来展现数据了.</p> 
       <p>在这个例子中,我们配置这个表格的 <a href="../6.0.1-classic/#!/api/Ext.AbstractComponent-method-renderTo" data-full-load="true">renderTo</a> 方法来立即渲染这个表格到  HTML 文档中. </p> 
       <p>在很多情况下,表格是由 <a href="../6.0.1-classic/#!/api/Ext.container.Viewport" data-full-load="true">Ext.container.Viewport</a> 派生出来的,这意味着渲染已经可以处理.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    renderTo: document.body, 
    store: userStore,
    width: 400,
    height: 200,
    title: 'Application Users',
    columns: [
        {
            text: 'Name',
            width: 100,
            sortable: false,
            hideable: false,
            dataIndex: 'name'
        },
        {
            text: 'Email Address',
            width: 150,
            dataIndex: 'email',
            hidden: true
        },
        {
            text: 'Phone Number',
            flex: 1,
            dataIndex: 'phone'
        }
    ]
});</code></pre> 
       <p>这就是所有的一切. </p> 
       <p>我们创建了一个来将它自己渲染到body元素中的 <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>. 我们也告诉了这个表格面板从我们前面创建的 <code>userStore</code> 中来获取数据. </p> 
       <p>最后, 我们定义了表格面板的列并且指定了一个 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-dataIndex" data-full-load="true">dataIndex</a> 属性. 这个 <code>dataIndex</code> 和我们model 中的一个字段相关联.</p> 
       <p>这个 <strong>“Name”</strong> 列有一个固定为 <strong>“100px” </strong> 的宽度并且禁止 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-sortable" data-full-load="true">sorting(排序)</a> 和 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-hideable" data-full-load="true">hiding(隐藏)</a> . 这个 <strong>“Email Address”</strong> 列默认是隐藏的 (可以通过使用在其它列头上的菜单来再次显示). 最后, 这个 <strong>“Phone Number”</strong>列 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-flex" data-full-load="true">flexes(伸缩)</a> 来填充表格面板总宽度的余下部分.</p> 
       <p>查看一个更为复杂的例子, 参见 <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#array-grid">Array Grid Example</a>.</p> 
       <h2 id="Renderers">表格渲染</h2> 
       <p>你能使用列配置中的 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-renderer" data-full-load="true">renderer</a> 属性来修改你要显示的数据的展现方式.  <code>renderer</code> 是一个用来修改原始值的函数并返回一个新的值来显示.一些最常用的渲染方式包含在 <a href="../6.0.1-classic/#!/api/Ext.util.Format" data-full-load="true">Ext.util.Format</a>中, 但你也能开发自己的格式:</p> 
       <pre mode="javascript" theme="chrome"><code>columns: [
    {
        text: 'Birth Date',
        dataIndex: 'birthDate',
        // format the date using a renderer from the Ext.util.Format class
        renderer: Ext.util.Format.dateRenderer('m/d/Y')
    },
    {
        text: 'Email Address',
        dataIndex: 'email',
        // format the email address using a custom renderer
        renderer: function(value) {
            return Ext.String.format('&lt;a href=&quot;mailto:{0}&quot;&gt;{1}&lt;/a&gt;', value, value);
        }
    }
]</code></pre> 
       <p>查看 Kitchen Sink的 <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#array-grid">Array Grid</a> 可以看一个使用了定制渲染的动态示例.</p> 
       <h2 id="Grouping">表格分组</h2> 
       <p><img src="images/grouping.png" /></p> 
       <p>将数据行分组来组织是很简单的.首先在我们的 store 中定义一个 <a href="../6.0.1-classic/#!/api/Ext.data.Store-method-groupField" data-full-load="true">groupField</a> 属性:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.data.Store', {
    model: 'Employee',
    data: ...,
    groupField: 'department'
});</code></pre> 
       <p>然后, 我们在一个表格中配置可以处理分组显示数据的 <a href="../6.0.1-classic/#!/api/Ext.grid.feature.Grouping" data-full-load="true">Ext.grid.feature.Grouping</a>特性:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    features: [{ ftype: 'grouping' }]
});</code></pre> 
       <p>查看 Kitchen Sink 的<a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#grouped-grid">表格分组 表格面板</a> 来看一个动态的示例.</p> 
       <h2 id="Selection_Models">选择模型</h2> 
       <p>表格面板能简单的用于展示数据.然而通常需要与表格的数据进行交互.所有表格面板都有一个 <a href="../6.0.1-classic/#!/api/Ext.selection.Model" data-full-load="true">Ext.selection.Model</a>, 这个决定了将要选择使用哪个数据.选择数据模型有二种主要类型 <a href="../6.0.1-classic/#!/api/Ext.selection.RowModel" data-full-load="true">Ext.selection.RowModel</a>, 选择全部数据, 和 <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a>, 选择独立的多个单元格.</p> 
       <p>表格面板默认使用 <a href="../6.0.1-classic/#!/api/Ext.selection.RowModel" data-full-load="true">Ext.selection.RowModel</a> , 但也很容易切换为使用 <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    selType: 'cellmodel',
    store: ...
});</code></pre> 
       <p>使用<a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a> 时有很多变化. 首先,点击一个单元格现在只选择相应的单元格而不是整行.第二,键盘导航是从一个单元格到另一单元格而不是一行到另一行.基于单元格的选择model 通常与编辑结合使用.</p> 
       <h2 id="Editing">编辑表格</h2> 
       <p>表格面板内置支持编辑. 让我们看一下这两种主要编辑模式 - 行编辑和单元格编辑.</p> 
       <h3 id="Cell_Editing">单元格编辑</h3> 
       <p><a href="../6.0.1-classic/#!/api/Ext.grid.plugin.CellEditing" data-full-load="true">Cell editing</a> 允许你逐一编辑一个表格面板中的一个单元格的数据. 实现单元格编辑的第一个步骤是对可编辑的表格面板的每一个 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column" data-full-load="true">Ext.grid.column.Column</a> 进行配置.这个是通过使用<a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-method-editor" data-full-load="true">Ext.grid.column.Column#editor</a> 配置项来完成. 最简单的方法是指定你要使用一个编辑器的字段一个 <strong>xtype</strong>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    columns: [
        {
            text: 'Email Address',
            dataIndex: 'email',
            editor: 'textfield'
       }
    ]
});</code></pre> 
       <p>如果需要控制更多编辑器的行为, <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-method-editor" data-full-load="true">Ext.grid.column.Column#editor</a> 配置也可以对一个 Field 使用一个配置对象. 例如,如果我们用的是 <a href="../6.0.1-classic/#!/api/Ext.form.field.Text" data-full-load="true">Ext.form.field.Text</a> 并且我们要必填:</p> 
       <pre mode="javascript" theme="chrome"><code>columns: [
    text: 'Name',
    dataIndex: 'name',
    editor: {
        xtype: 'textfield',
        allowBlank: false
    }
[</code></pre> 
       <p>你能使用在 <strong>“Ext.form.field.*”</strong> 包中的任意一个类作为一个编辑器的输入控件. 假定我们要编辑一个包含日期的列.我们能使用一个 <a href="../6.0.1-classic/#!/api/Ext.form.field.Date" data-full-load="true">Ext.form.field.Date</a> 编辑器:</p> 
       <pre mode="javascript" theme="chrome"><code>columns: [
    {
        text: 'Birth Date',
        dataIndex: 'birthDate',
        editor: 'datefield'
    }
]</code></pre> 
       <p>在 <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 中的任意一个没有包含 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-method-editor" data-full-load="true">Ext.grid.column.Column#editor</a> 配置的 <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column" data-full-load="true">Ext.grid.column.Column</a> 列将不可编辑.</p> 
       <p>现在我们配置了那些我们要编辑的列,并且编辑器的控件就会使用这些数据,下一个步骤是定义选择模型.让我们在 <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 配置中使用 <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    selType: 'cellmodel'
});</code></pre> 
       <p>最后,为启用编辑我们要用 <a href="../6.0.1-classic/#!/api/Ext.grid.plugin.CellEditing" data-full-load="true">Ext.grid.plugin.CellEditing</a> 来配置 <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    selType: 'cellmodel',
    plugins: [{
        ptype: 'cellediting ',
        clicksToEdit: 1
    }]
});</code></pre> 
       <p>这就是创建一个使用单元格编辑的可编辑表格要做的全部. 参见 <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#cell-editing">单元格编辑</a> 作为一个正常工作的例子.</p> 
       <p><img src="images/cell_editing.png" /></p> 
       <h3 id="Row_Editing">行编辑</h3> 
       <p>Row editing 使用你能一次编辑一个整行,而不是一个单元格一个单元的编辑. 行编辑与单元格编辑的方法几乎一样 - 我们所要做的只是修改插件类型为 <a href="../6.0.1-classic/#!/api/Ext.grid.plugin.RowEditing" data-full-load="true">Ext.grid.plugin.RowEditing</a> 并且设置 selType 为 <code>rowmodel</code>.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    selType: 'rowmodel',
    plugins: [{
        ptype: 'rowediting',
        clicksToEdit: 1
    }]
});</code></pre> 
       <p><img src="images/row_editing.png" /></p> 
       <p>参见 <a href="../../../../dev.sencha.com/ext/5.1.0/examples/grid/row-editing.html">行编辑</a> 查看一个可以运行的例子.</p> 
       <h2 id="Paging">表格分页</h2> 
       <p>有时你的数据集太多而不能在一页中显示所有的数据. <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> 通过使用  <a href="../6.0.1-classic/#!/api/Ext.toolbar.Paging" data-full-load="true">Ext.toolbar.Paging</a> 来从数据集中分页显示,加载的页面将使用前一页/后一页按钮.</p> 
       <h3 id="Store_Setup">Store设置</h3> 
       <p>在给一个<a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>设置分页前,我们必须配置 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a>支持分页. 在下面的例子中我们给<a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a>增加了 <a href="../6.0.1-classic/#!/api/Ext.data.Store-method-pageSize" data-full-load="true">Ext.data.Store#pageSize</a> 的设置 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true"></a>, 并且我们可以给 <a href="../6.0.1-classic/#!/api/Ext.data.reader.Reader" data-full-load="true">Ext.data.reader.Reader</a> 配置一个 <a href="../6.0.1-classic/#!/api/Ext.data.reader.Reader-method-totalProperty" data-full-load="true">Ext.data.reader.Reader#totalProperty</a> 属性:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.data.Store', {
    model: 'User',
    autoLoad: true,
    pageSize: 4,
    proxy: {
        type: 'ajax',
        url : 'data/users.json',
        reader: {
            type: 'json',
            root: 'users',
            totalProperty: 'total'
        }
    }
});</code></pre> 
       <p><a href="../6.0.1-classic/#!/api/Ext.data.reader.Reader-method-totalProperty" data-full-load="true">Ext.data.reader.Reader#totalProperty</a> 配置告诉 <a href="../6.0.1-classic/#!/api/Ext.data.reader.Json" data-full-load="true">Ext.data.reader.Json</a>从JSON响应的哪里来获得结果集的总行数.<a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 配置成使用一个象下面这些数据一样的JSON返回数据:</p> 
       <pre mode="javascript" theme="chrome"><code>{
    &quot;success&quot;: true,
    &quot;total&quot;: 12,
    &quot;users&quot;: [
        { &quot;name&quot;: &quot;Lisa&quot;, &quot;email&quot;: &quot;lisa@simpsons.com&quot;, &quot;phone&quot;: &quot;555-111-1224&quot; },
        { &quot;name&quot;: &quot;Bart&quot;, &quot;email&quot;: &quot;bart@simpsons.com&quot;, &quot;phone&quot;: &quot;555-222-1234&quot; },
        { &quot;name&quot;: &quot;Homer&quot;, &quot;email&quot;: &quot;homer@simpsons.com&quot;, &quot;phone&quot;: &quot;555-222-1244&quot; },
        { &quot;name&quot;: &quot;Marge&quot;, &quot;email&quot;: &quot;marge@simpsons.com&quot;, &quot;phone&quot;: &quot;555-222-1254&quot; }
    ]
}</code></pre> 
       <h3 id="Paging_Toolbar">分页工具栏</h3> 
       <p>我们已经设置 <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> 支持分页, 剩下要配置的是 <a href="../6.0.1-classic/#!/api/Ext.toolbar.Paging" data-full-load="true">Ext.toolbar.Paging</a>. 你可以在你应用布局的任意位置放置 <a href="../6.0.1-classic/#!/api/Ext.toolbar.Paging" data-full-load="true">Ext.toolbar.Paging</a> ,但通常是停靠在 <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>中:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    store: userStore,
    columns: ...,
    dockedItems: [{
        xtype: 'pagingtoolbar',
        store: userStore,   // same store GridPanel is using
        dock: 'bottom',
        displayInfo: true
    }]
});</code></pre> 
       <p><img src="images/paging_toolbar.png" /></p> 
       <p>查看一个可正常工作的 <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#paging-grid">Paging Grid</a> 示例</p> 
       <h3 id="Buffered_Rendering">缓冲渲染</h3> 
       <p>作为使用分页工具栏来处理大数据结果集的一个替代方式是表格也支持缓冲渲染.你的用户可以滚动上千条记录而没有一次性将所有记录渲染到屏幕上的性能问题. 表格必须绑定一个定义好了pageSize的 <a href="../6.0.1-classic/#!/api/Ext.data.BufferedStore" data-full-load="true">Ext.data.BufferedStore</a>组件.</p> 
       <p>只有足够的行被填充到表格的可见区域中和一个小ext.grid.panel-cfg-leadingbufferzone溢出到任一边用于允许滚动. 当滚动执行时,新的行就会按照滚动的方向渲染出来,而表格中那些相反方向的行就会被清除.</p> 
       <p>表格默认使用缓冲渲染,因此你不再需要在你的表格组件中增加插件.</p> 
       <p>查看一个可正常工作的 <a href="../../../../dev.sencha.com/ext/5.1.0/examples/grid/buffer-grid.html">Buffered Renderer</a> 示例.</p> 
      </div> 
      <div class="tpl-content-lastUpdated">
        Last updated 
       <div id="tpl-content-lastUpdated-date" itemprop="datePublished" datetime="2016-04-01T12:27Z">
         April 1, 2016 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="footer"> 
   <div id="footer-social"> 
    <div class="g-plusone" data-size="medium" data-annotation="none"></div> 
   </div> 
   <div id="footer-content"> 
    <a href="../../../../www.sencha.com/products">Products</a> | 
    <a href="../../../../www.sencha.com/services">Services</a> | 
    <a href="../../../../www.sencha.com/support">Support</a> | 
    <a href="../../../../www.sencha.com/training">Training</a> | 
    <a href="../../../../www.sencha.com/partners">Partners</a> | 
    <a href="../../../../www.sencha.com/blog">Community</a> | 
    <a href="../../../../www.sencha.com/company">Company</a> 
   </div> 
  </div> 
  <div id="menu-product-container" style="display:none;"> 
   <div id="menu-dropdown"> 
    <div class="menu-landing-products"> 
     <div id="menu-vertical"> 
      <p class="menu-landing-product" rel="extjs"> <a> Sencha Ext JS </a> </p> 
      <p class="menu-landing-product" rel="cmd"> <a> Sencha Cmd </a> </p> 
      <p class="menu-landing-product" rel="sencha_test"> <a> Sencha Test </a> </p> 
      <p class="menu-landing-product" rel="ide_plugins"> <a> Sencha IDE Plugins </a> </p> 
      <p class="menu-landing-product" rel="sencha_inspector"> <a> Sencha Inspector </a> </p> 
      <p class="menu-landing-product" rel="gxt"> <a> Sencha GXT </a> </p> 
      <p class="menu-landing-product" rel="webappmgr"> <a> Sencha Web Application Manager </a> </p> 
      <p class="menu-landing-product" rel="architect"> <a> Sencha Architect </a> </p> 
      <p class="menu-landing-product" rel="touch"> <a> Sencha Touch </a> </p> 
     </div> 
    </div> 
    <div id="menu-product-details"> 
     <div id="extjs-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Ext JS 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../default.htm"> 6.0.2 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.2-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.2-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.1 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.1-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.1-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.0 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.0-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip" style="padding-left:0;" href="../../../downloads/extjs-docs-6.0.0-modern.zip"> (modern) </a> 
      <div class="menu-landing-doc-heading">
        5.1.x 
      </div> 
      <a href="../../5.1/default.htm"> 5.1.2 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.1 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.1.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.0.x 
      </div> 
      <a href="../../5.0/default.htm"> 5.0.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.0/default.htm"> 5.0.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.2.x 
      </div> 
      <a href="../../4.2.5/default.htm"> 4.2.5 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.5.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.4/default.htm"> 4.2.4 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.4.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.3/default.htm"> 4.2.3 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.3.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.2/default.htm"> 4.2.2 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.1/default.htm"> 4.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.0/default.htm"> 4.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.1.x 
      </div> 
      <a href="../../4.1.3/default.htm"> 4.1.3 </a> 
      <br /> 
      <a href="../../4.1.2/default.htm"> 4.1.2 </a> 
      <br /> 
      <a href="../../4.1.1/default.htm"> 4.1.1 </a> 
      <br /> 
      <a href="../../4.1.0/default.htm"> 4.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.0.x 
      </div> 
      <a href="../../4.0.7/default.htm"> 4.0.7 </a> 
      <br /> 
      <a href="../../4.0.0/default.htm"> 4.0.0 </a> 
     </div> 
     <div id="cmd-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Cmd 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../../../cmd/6.x"> 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.x 
      </div> 
      <a href="../../../cmd/5.x"> 5.x </a> 
     </div> 
     <div id="sencha_test-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Test 
      </div> 
      <a href="../../../sencha_test/index.html"> Sencha Test </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="ide_plugins-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha IDE Plugins 
      </div> 
      <a href="../../../ide_plugins/jetbrains_ide_plugin.html"> JetBrains Plugin 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/eclipse_ide_plugin.html"> Eclipse Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/visual_studio_ide_plugin.html"> Visual Studio Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="sencha_inspector-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Inspector 
      </div> 
      <a href="../../../sencha_inspector/index.html"> Sencha Inspector 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="gxt-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha GXT 
      </div> 
      <!-- GXT 4.0 --> 
      <div class="menu-landing-doc-heading">
        4.0 
       <span class="tpl-toc-img-new">★</span> 
      </div> 
      <a href="../../../../examples.sencha.com/gxt/4.0.1"> 4.0 Explorer Examples </a> 
      <br /> 
      <a href="../../../../examples.sencha.com/gxt-edash/4.0.1"> 4.0 Dashboard Example </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/gxt/examples-src/gxt-edash-4.0.1.zip"> (War) </a> 
      <br /> 
      <a href="../../../gxt/4.x/default.htm"> 4.0 Guides </a> 
      <br /> 
      <a href="../../../gxt/4.x/javadoc/gxt-4.0.0"> 4.0 Javadoc </a> 
      <br /> 
      <!-- GXT 3.1.x --> 
      <div class="menu-landing-doc-heading">
        3.1 
      </div> 
      <a href="../../../../www.sencha.com/examples/default.htm"> 3.1.4 Examples </a> 
      <br /> 
      <a href="../../../gxt/3.x/default.htm"> 3.1.4 Guides </a> 
      <br /> 
      <a href="../../../gxt/3.x/javadoc"> 3.1.4 Javadoc </a> 
      <br /> 
      <!-- GXT 3.0.x --> 
      <!-- GXT 2.x --> 
      <div class="menu-landing-doc-heading">
        2.0 
      </div> 
      <a href="../../../../https@www.sencha.com/examples-2/default.htm"> 2.3.1 Examples </a> 
     </div> 
     <div id="webappmgr-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Web Application Manager 
      </div> 
      <div class="menu-landing-doc-heading">
        6.0.x 
      </div> 
      <a href="../../../webappmgr"> 6.0.0 </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="architect-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Architect 
      </div> 
      <div class="menu-landing-doc-heading">
        3.x 
      </div> 
      <a href="../../../architect/3.5/default.htm"> 3.5 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../architect/3/default.htm"> 3.2 </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../../cdn.sencha.com/downloads/docs/architect-docs-3.zip"> (offline docs) </a> 
     </div> 
     <div id="touch-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Touch 
      </div> 
      <div class="menu-landing-doc-heading">
        2.4.x 
      </div> 
      <a href="../../../touch/2.4/default.htm"> 2.4.2 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/touch-docs-2.4.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/default.htm"> 2.4.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/2.4.0-apidocs"> 2.4.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.0.zip"> (offline docs) </a> 
      <div class="menu-landing-doc-heading">
        2.3.x 
      </div> 
      <a href="../../../touch/2.3.1/default.htm"> 2.3.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.3.0/default.htm"> 2.3.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.2.x 
      </div> 
      <a href="../../../touch/2.2.1/default.htm"> 2.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.2.0/default.htm"> 2.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.1.x 
      </div> 
      <a href="../../../touch/2.1.1/default.htm"> 2.1.1 </a> 
      <br /> 
      <a href="../../../touch/2.1.0/default.htm"> 2.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.0.x 
      </div> 
      <a href="../../../touch/2.0.2/default.htm"> 2.0.2 </a> 
      <br /> 
      <a href="../../../touch/2.0.1/default.htm"> 2.0.1 </a> 
      <br /> 
      <a href="../../../touch/2.0.0/default.htm"> 2.0.0 </a> 
     </div> 
    </div> 
   </div> 
  </div> 
   
  <script type="text/javascript">
    adroll_adv_id = "5RM2BL5IGRFLRG5VDQ7OIE";
    adroll_pix_id = "LWO7UZXBFVESTOMYFI2LYS";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username_40example.com"; */
    (function () {
      var _onload = function(){
        if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
        if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "../../../../https@s.adroll.com" : "../../../../a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      };
      if (window.addEventListener) {window.addEventListener('load', _onload, false);}
      else {window.attachEvent('onload', _onload)}
    }());
  </script> 
  <script>
    var menu = document.getElementById("tpl-toc"),
        link_obj = document.getElementById("mobile_menu_link"),
        links = menu.querySelectorAll('a');

    for(i=0; i < links.length; i++) {
      links[i].onclick = function() {
        var mq = window.matchMedia('only screen and (max-width: 768px)');

        if(mq.matches) {
          menu.style.display = 'none';
          link_obj.innerHTML = 'MENU';
        }
      }
    }

  </script> 
  <script type="text/javascript">
    </script>              <script src='../../../../munchkin.marketo.net/munchkin-beta.js' type='text/javascript'></script><script>Munchkin.init('374-WES-121');</script>   
 
</body></html>