<!DOCTYPE html><html><head> 
  <link href="../css/main.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="../MarkdownWebapp/MarkdownWebapp.nocache.js"></script> 
  <script type="text/javascript" src="../ace/ace.js"></script> 
  <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
  <script type="text/javascript">window["_GOOG_TRANS_EXT_VER"] = "1";</script> 
  <title>Ext JS 向导 | Grids</title> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script async="" type="text/javascript" src="../../../../https@use.typekit.com/bqo8qzg.js"></script> 
  <script type="text/javascript">

    function showMenu(link_obj){
      var menu = document.getElementById("tpl-toc");

      link_obj.innerHTML = (link_obj.innerHTML == 'CLOSE MENU') ? 'MENU' : 'CLOSE MENU';

      if(menu.style.display == 'block'){
         menu.style.display = 'none';
      }else{
         menu.style.display = 'block';
      }
    }

  </script> 
 </head> 
 <body> 
  <div id="header"> 
   <a href="../../../../www.sencha.com/default.htm"><img class="sencha-logo" src="../images/logo.png" /></a> 
   <h1 id="current-product"><a href="#">Ext JS 向导 ▼</a></h1> 
   <div id="mobile_menu"> 
    <a id="mobile_menu_link" onclick="showMenu(this);" href="#">MENU</a> 
   </div> 
    
  </div> 
  <div id="content" itemscope="" itemtype="http://schema.org/Article"> 
   <div id="tpl-toc"> 
    <div id="tpl-toc-content"> 
     <a class="toggle-button" href="#">expand</a> 
     <ul> 
      <li class="file"><a href="../../../default.htm" data-full-load="true" title="Home">Sencha 向导</a></li> 
      <li class="file"><a href="../index.html" title="Guide Home">Sencha Ext JS 向导</a></li> 
      <li class="folder"><a href="#">快速入门</a> 
       <ul expand="false"> 
        <li class="file"><a href="../getting_started/getting_started.html" title="Get Started">安装 &amp; 快速入门</a></li> 
        <li class="file"><a href="../getting_started/extjs_faq.html" title="">Ext JS - 问答</a></li> 
        <li class="file"><a href="../getting_started/login_app.html" title="">创建一个简单的登录应用</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Ext JS 6 API 文档</a> 
       <ul expand="false"> 
        <li class="file"><a href="../6.0.2-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.2-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.1-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.1-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.0-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.0-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Modern API 文档</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">API 版本差异</a> 
       <ul expand="false"> 
        <li class="file"><a href="../api_diffs/602_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Classic</a></li> 
        <li class="file"><a href="../api_diffs/602_modern_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Modern</a></li> 
        <li class="file"><a href="../api_diffs/601_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Classic</a></li> 
        <li class="file"><a href="../api_diffs/601_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Modern</a></li> 
        <li class="file"><a href="../api_diffs/600_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 5.1.1 &amp; 6.0.0 Classic</a></li> 
        <li class="file"><a href="../api_diffs/600_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between Touch 2.4.2 &amp; 6.0.0 Modern</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Examples</a> 
       <ul expand="false"> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.2/examples/default.htm" data-full-load="true" title="">6.0.2 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.1/examples/default.htm" data-full-load="true" title="">6.0.1 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.0/examples/default.htm" data-full-load="true" title="">6.0.0 Examples</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">新特性</a> 
       <ul expand="false"> 
        <li class="file"><a href="../whats_new/release_notes.html" title="">版本发布说明</a></li> 
        <li class="file"><a href="../whats_new/whats_new.html" title="">Ext JS 6 新特性</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">升级 &amp; 迁移</a> 
       <ul expand="false"> 
        <li class="file"><a href="../upgrades_migrations/extjs_upgrade_guide.html" title="">Ext JS 5 到 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/modern_upgrade_guide.html" title="">Touch 2.4 to 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/pivot_grid_update_guide.html" title="">Ext JS 6 - Pivot Grid 升级向导</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">核心思想</a> 
       <ul expand="false"> 
        <li class="file"><a href="../core_concepts/classes.html" title="The 类系统">类系统</a></li> 
        <li class="file"><a href="../core_concepts/layouts.html" title="布局和容器">布局和容器</a></li> 
        <li class="file"><a href="../core_concepts/components.html" title="Components">Components</a></li> 
        <li class="file"><a href="../core_concepts/data_package.html" title="数据封装">数据封装</a></li> 
        <li class="file"><a href="../core_concepts/events.html" title="Events in Ext JS">事件和手势</a></li> 
        <li class="file"><a href="../core_concepts/drag_drop.html" title="拖放">拖放</a></li> 
        <li class="file"><a href="../core_concepts/theming.html" title="Theming Ext JS">主题</a></li> 
        <li class="file"><a href="../core_concepts/memory_management.html" title="">内存管理</a></li> 
        <li class="file"><a href="../core_concepts/accessibility.html" title="无障碍">无障碍</a></li> 
        <li class="file"><a href="../core_concepts/localization.html" title="本地化">本地化</a></li> 
        <li class="file"><a href="../core_concepts/rtl.html" title="Right to Left in Ext JS">Right to Left in Ext JS</a></li> 
        <li class="file"><a href="../core_concepts/font_ext.html" title="">Sencha 字体包</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../core_concepts/tablet_support.html" title="平板设备支持">平板设备支持</a></li> 
        <li class="folder"><a href="#">绘图封装</a> 
         <ul expand="false"> 
          <li class="file"><a href="../core_concepts/draw/drawing.html" title="">绘图封装</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt1.html" title="">Creating Images with Draw - Part 1</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt2.html" title="">Creating Images with Draw - Part 2</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt3.html" title="">Creating Images with Draw - Part 3</a></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">架构</a> 
       <ul expand="false"> 
        <li class="file"><a href="../application_architecture/application_architecture.html" title="应用程序架构介绍">应用程序架构介绍</a></li> 
        <li class="file"><a href="../application_architecture/developing_for_multiple_screens_and_environments.html" title="应用程序架构介绍">多屏幕开发</a></li> 
        <li class="file"><a href="../application_architecture/view_controllers.html" title="视图控制器View Controllers">视图控制器View Controllers</a></li> 
        <li class="file"><a href="../application_architecture/view_models_data_binding.html" title="View Models &amp; 数据绑定">View Models &amp; 数据绑定</a></li> 
        <li class="file"><a href="../application_architecture/view_model_internals.html" title="View Models Internals">View Model 内部机制</a></li> 
        <li class="file"><a href="../application_architecture/router.html" title="使用路由">使用路由</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">UI 组件</a> 
       <ul expand="false"> 
        <li class="file"><a href="forms.html" title="Forms">Forms</a></li> 
        <li class="file"><a href="introduction_to_charting.html" title="图表Charts介绍">图表Charts介绍</a></li> 
        <li class="file"><a href="trees.html" title="Trees">Trees</a></li> 
        <li class="file"><a href="grids.html" title="Grids">Grids</a></li> 
        <li class="file"><a href="pivot_grid.html" title="Pivot Grid">Pivot Grid</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="widgets_widgets_columns.html" title="Widgets and Widget Columns">Widgets and Widget Columns</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">后台连接</a> 
       <ul expand="false"> 
        <li class="file"><a href="../backend_connectors/soap.html" title="SOAP服务">SOAP服务</a></li> 
        <li class="file"><a href="../backend_connectors/amf.html" title="AMF 数据源">AMF 数据源</a></li> 
        <li class="folder"><a href="#">Ext Direct</a> 
         <ul expand="false"> 
          <li class="file"><a href="../backend_connectors/direct/specification.html" title="Ext Direct 说明">Ext Direct 说明</a><span class="tpl-toc-img-new">★</span></li> 
          <li class="file"><a href="../backend_connectors/direct/mysql_php.html" title="Ext Direct 结合 MySQL 和 PHP">Ext Direct 结合 MySQL 和 PHP</a><span class="tpl-toc-img-new">★</span></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">其它</a> 
       <ul expand="false"> 
        <li class="file"><a href="../other_resources/oop_concepts.html" title="">OOP基础</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../other_resources/ecosystem.html" title="">Ext JS 生态</a></li> 
        <li class="file"><a href="../other_resources/sencha_blog.html" title="">来自 Sencha 博客</a></li> 
       </ul></li> 
      <li class="file"><a href="../supported_browsers.html" title="支持的浏览器">支持的浏览器</a></li> 
     </ul> 
    </div> 
   </div> 
   <div id="middle"> 
    <div id="tpl-content"> 
     <div> 
      <div class="toc-page" style="display:block;">
        Contents 
       <a class="toc-page-h2" href="#Basic_Grid_Panel" title="Basic Grid Panel">Basic Grid Panel</a> 
       <a class="toc-page-h3" href="#Model_and_Store" title="Model and Store">Model and Store</a> 
       <a class="toc-page-h3" href="#Grid_Panel" title="Grid Panel">Grid Panel</a> 
       <a class="toc-page-h2" href="#Renderers" title="Renderers">Renderers</a> 
       <a class="toc-page-h2" href="#Grouping" title="Grouping">Grouping</a> 
       <a class="toc-page-h2" href="#Selection_Models" title="Selection Models">Selection Models</a> 
       <a class="toc-page-h2" href="#Editing" title="Editing">Editing</a> 
       <a class="toc-page-h3" href="#Cell_Editing" title="Cell Editing">Cell Editing</a> 
       <a class="toc-page-h3" href="#Row_Editing" title="Row Editing">Row Editing</a> 
       <a class="toc-page-h2" href="#Paging" title="Paging">Paging</a> 
       <a class="toc-page-h3" href="#Store_Setup" title="Store Setup">Store Setup</a> 
       <a class="toc-page-h3" href="#Paging_Toolbar" title="Paging Toolbar">Paging Toolbar</a> 
       <a class="toc-page-h3" href="#Buffered_Rendering" title="Buffered Rendering">Buffered Rendering</a> 
      </div> 
      <div id="tpl-content-name" itemprop="name"> 
       <h1>Grids</h1> 
      </div> 
      <div id="tpl-content-articleBody" itemprop="articleBody"> 
       <p><a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> is one of the centerpieces of Ext JS. It’s an incredibly versatile component that provides an easy way to display, sort, group, and edit data.</p> 
       <h2 id="Basic_Grid_Panel">Basic Grid Panel</h2> 
       <p><img src="images/simple_grid.png" alt="Basic Grid Panel" /></p> 
       <p>Let’s get started by creating a basic <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>. Here’s all you need to know to get a simple grid up and running:</p> 
       <h3 id="Model_and_Store">Model and Store</h3> 
       <p><a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> is simply a component that displays data contained in a <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a>. <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> can be thought of as a collection of records, or <a href="../6.0.1-classic/#!/api/Ext.data.Model" data-full-load="true">Ext.data.Model</a> instances.</p> 
       <p>The benefit of this setup is separating our concerns. <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> is only concerned with displaying the data, while <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> takes care of fetching and saving the data using <a href="../6.0.1-classic/#!/api/Ext.data.proxy.Proxy" data-full-load="true">Ext.data.proxy.Proxy</a>.</p> 
       <p>First, we need to define a <a href="../6.0.1-classic/#!/api/Ext.data.Model" data-full-load="true">Ext.data.Model</a>. A model is just a collection of <a href="../6.0.1-classic/#!/api/Ext.data.field.Field" data-full-load="true">fields</a> that represents a type of data. Let’s define a model that represents a <strong>“User”</strong>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.define('User', {
    extend: 'Ext.data.Model',
    fields: [ 'name', 'email', 'phone' ]
});</code></pre> 
       <p>Next let’s create a <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> that contains several <strong>“User”</strong> instances.</p> 
       <pre mode="javascript" theme="chrome"><code>var userStore = Ext.create('Ext.data.Store', {
    model: 'User',
    data: [
        { name: 'Lisa', email: 'lisa@simpsons.com', phone: '555-111-1224' },
        { name: 'Bart', email: 'bart@simpsons.com', phone: '555-222-1234' },
        { name: 'Homer', email: 'homer@simpsons.com', phone: '555-222-1244' },
        { name: 'Marge', email: 'marge@simpsons.com', phone: '555-222-1254' }
    ]
});</code></pre> 
       <p>For sake of ease, we configured <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> to load its data inline. In a real world application, you would most likely configure the <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> to use an <a href="../6.0.1-classic/#!/api/Ext.data.proxy.Proxy" data-full-load="true">Ext.data.proxy.Proxy</a> to load data from the server.</p> 
       <h3 id="Grid_Panel">Grid Panel</h3> 
       <p>Now, we have a model, which defines our data structure. We have also loaded several model instances into an <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a>. Now we’re ready to display the data using <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>.</p> 
       <p>In this example, we configured the Grid with <a href="../6.0.1-classic/#!/api/Ext.AbstractComponent-method-renderTo" data-full-load="true">renderTo</a> to immediately render the Grid into the HTML document. </p> 
       <p>In many situations, the grid will be a descendant of <a href="../6.0.1-classic/#!/api/Ext.container.Viewport" data-full-load="true">Ext.container.Viewport</a>, which means rendering is already handled.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    renderTo: document.body,
    store: userStore,
    width: 400,
    height: 200,
    title: 'Application Users',
    columns: [
        {
            text: 'Name',
            width: 100,
            sortable: false,
            hideable: false,
            dataIndex: 'name'
        },
        {
            text: 'Email Address',
            width: 150,
            dataIndex: 'email',
            hidden: true
        },
        {
            text: 'Phone Number',
            flex: 1,
            dataIndex: 'phone'
        }
    ]
});</code></pre> 
       <p>And that’s all there is to it. </p> 
       <p>We just created an <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> that renders itself to the body element. We also told the Grid panel to get its data from the <code>userStore</code> that we previously created. </p> 
       <p>Finally, we defined the Grid panel’s columns and gave them a <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-dataIndex" data-full-load="true">dataIndex</a> property. This <code>dataIndex</code> associates a field from our model to a column.</p> 
       <p>The <strong>“Name”</strong> column has a fixed <code>width</code> of <strong>“100px”</strong> and has <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-sortable" data-full-load="true">sorting</a> and <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-hideable" data-full-load="true">hiding</a> disabled. The <strong>“Email Address”</strong> column is hidden by default (it can be shown again by using the menu on any other column header). Finally, the <strong>“Phone Number”</strong> column <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-flex" data-full-load="true">flexes</a> to fit the remainder of the Grid panel’s total width.</p> 
       <p>For a larger example, see the <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#array-grid">Array Grid Example</a>.</p> 
       <h2 id="Renderers">Renderers</h2> 
       <p>You can use the <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-cfg-renderer" data-full-load="true">renderer</a> property of the column config to change the way in which data is displayed. A <code>renderer</code> is a function that modifies the underlying value and returns a new value for display. Some of the most common renderers are included in <a href="../6.0.1-classic/#!/api/Ext.util.Format" data-full-load="true">Ext.util.Format</a>, but you can write your own as well:</p> 
       <pre mode="javascript" theme="chrome"><code>columns: [
    {
        text: 'Birth Date',
        dataIndex: 'birthDate',
        // format the date using a renderer from the Ext.util.Format class
        renderer: Ext.util.Format.dateRenderer('m/d/Y')
    },
    {
        text: 'Email Address',
        dataIndex: 'email',
        // format the email address using a custom renderer
        renderer: function(value) {
            return Ext.String.format('&lt;a href=&quot;mailto:{0}&quot;&gt;{1}&lt;/a&gt;', value, value);
        }
    }
]</code></pre> 
       <p>See the Kitchen Sink’s <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#array-grid">Array Grid</a> for a live demo that uses custom renderers.</p> 
       <h2 id="Grouping">Grouping</h2> 
       <p><img src="images/grouping.png" /></p> 
       <p>Organizing the rows into groups is easy. First we specify a <a href="../6.0.1-classic/#!/api/Ext.data.Store-method-groupField" data-full-load="true">groupField</a> property on our store:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.data.Store', {
    model: 'Employee',
    data: ...,
    groupField: 'department'
});</code></pre> 
       <p>Next, we configure a Grid with <a href="../6.0.1-classic/#!/api/Ext.grid.feature.Grouping" data-full-load="true">Ext.grid.feature.Grouping</a> that will handle displaying the rows in groups:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    features: [{ ftype: 'grouping' }]
});</code></pre> 
       <p>See the Kitchen Sink’s <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#grouped-grid">Grouping Grid Panel</a> for a live example.</p> 
       <h2 id="Selection_Models">Selection Models</h2> 
       <p>Grid panels can be used to simply display data. However, it is often necessary to interact with the Grid’s data. All Grid panels have an <a href="../6.0.1-classic/#!/api/Ext.selection.Model" data-full-load="true">Ext.selection.Model</a>, which determines how data is selected. The two main types of Selection Model are <a href="../6.0.1-classic/#!/api/Ext.selection.RowModel" data-full-load="true">Ext.selection.RowModel</a>, where entire rows are selected, and <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a>, where individual cells are selected.</p> 
       <p>Grid panels use <a href="../6.0.1-classic/#!/api/Ext.selection.RowModel" data-full-load="true">Ext.selection.RowModel</a> by default, but it’s easy to switch to an <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    selType: 'cellmodel',
    store: ...
});</code></pre> 
       <p>Using <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a> changes a couple of things. Firstly, clicking on a cell now selects just that cell as opposed to the entire row. Secondly, the keyboard navigation will walk from cell to cell instead of row to row. Cell-based selection models are usually used in conjunction with editing.</p> 
       <h2 id="Editing">Editing</h2> 
       <p>Grid panel has built-in support for editing. Let’s look at the two main editing modes - row editing and cell editing.</p> 
       <h3 id="Cell_Editing">Cell Editing</h3> 
       <p><a href="../6.0.1-classic/#!/api/Ext.grid.plugin.CellEditing" data-full-load="true">Cell editing</a> allows you to edit the data in a Grid panel one cell at a time. The first step in implementing cell editing is to configure an editor for each <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column" data-full-load="true">Ext.grid.column.Column</a> in your Grid Panel that should be editable. This is done using the <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-method-editor" data-full-load="true">Ext.grid.column.Column#editor</a> config. The simplest way is to specify just the <strong>xtype</strong> of the field you want to use as an editor:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    columns: [
        {
            text: 'Email Address',
            dataIndex: 'email',
            editor: 'textfield'
       }
    ]
});</code></pre> 
       <p>If you need more control over how the editor field behaves, the <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-method-editor" data-full-load="true">Ext.grid.column.Column#editor</a> config can also take a config object for a Field. For example, if we are using a <a href="../6.0.1-classic/#!/api/Ext.form.field.Text" data-full-load="true">Ext.form.field.Text</a> and we want to require a value:</p> 
       <pre mode="javascript" theme="chrome"><code>columns: [
    text: 'Name',
    dataIndex: 'name',
    editor: {
        xtype: 'textfield',
        allowBlank: false
    }
[</code></pre> 
       <p>You can use any class in the <strong>“Ext.form.field.*”</strong> package as an editor field. Lets suppose we want to edit a column that contains dates. We can use a <a href="../6.0.1-classic/#!/api/Ext.form.field.Date" data-full-load="true">Ext.form.field.Date</a> editor:</p> 
       <pre mode="javascript" theme="chrome"><code>columns: [
    {
        text: 'Birth Date',
        dataIndex: 'birthDate',
        editor: 'datefield'
    }
]</code></pre> 
       <p>Any <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column" data-full-load="true">Ext.grid.column.Column</a> in a <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> that do not have a <a href="../6.0.1-classic/#!/api/Ext.grid.column.Column-method-editor" data-full-load="true">Ext.grid.column.Column#editor</a>] configured will not be editable.</p> 
       <p>Now that we’ve configured which columns we want to be editable, and the editor fields that will be used to edit the data, the next step is to specify a selection model. Let’s use a <a href="../6.0.1-classic/#!/api/Ext.selection.CellModel" data-full-load="true">Ext.selection.CellModel</a> in our <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> config:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    selType: 'cellmodel'
});</code></pre> 
       <p>Finally, to enable editing we need to configure the <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> with a <a href="../6.0.1-classic/#!/api/Ext.grid.plugin.CellEditing" data-full-load="true">Ext.grid.plugin.CellEditing</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    selType: 'cellmodel',
    plugins: [{
        ptype: 'cellediting ',
        clicksToEdit: 1
    }]
});</code></pre> 
       <p>And that’s all it takes to create an editable Grid using cell editing. See <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#cell-editing">Cell Editing</a> for a working example.</p> 
       <p><img src="images/cell_editing.png" /></p> 
       <h3 id="Row_Editing">Row Editing</h3> 
       <p>Row editing enables you to edit an entire row at a time, rather than editing cell by cell. Row editing works in exactly the same way as cell editing - all we need to do is change the plugin type to <a href="../6.0.1-classic/#!/api/Ext.grid.plugin.RowEditing" data-full-load="true">Ext.grid.plugin.RowEditing</a> and set the selType to <code>rowmodel</code>.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    ...
    selType: 'rowmodel',
    plugins: [{
        ptype: 'rowediting',
        clicksToEdit: 1
    }]
});</code></pre> 
       <p><img src="images/row_editing.png" /></p> 
       <p>See <a href="../../../../dev.sencha.com/ext/5.1.0/examples/grid/row-editing.html">Row Editing</a> for a working example.</p> 
       <h2 id="Paging">Paging</h2> 
       <p>Sometimes your data set is too large to display all on one page. <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a> supports displaying individual pages from the dataset using a <a href="../6.0.1-classic/#!/api/Ext.toolbar.Paging" data-full-load="true">Ext.toolbar.Paging</a>, which loads pages using previous/next buttons.</p> 
       <h3 id="Store_Setup">Store Setup</h3> 
       <p>Before we can set up paging on a <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>, we have to configure the <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> to support paging. In the below example we add <a href="../6.0.1-classic/#!/api/Ext.data.Store-method-pageSize" data-full-load="true">Ext.data.Store#pageSize</a> to the <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a>, and we configure our <a href="../6.0.1-classic/#!/api/Ext.data.reader.Reader" data-full-load="true">Ext.data.reader.Reader</a> with a <a href="../6.0.1-classic/#!/api/Ext.data.reader.Reader-method-totalProperty" data-full-load="true">Ext.data.reader.Reader#totalProperty</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.data.Store', {
    model: 'User',
    autoLoad: true,
    pageSize: 4,
    proxy: {
        type: 'ajax',
        url : 'data/users.json',
        reader: {
            type: 'json',
            root: 'users',
            totalProperty: 'total'
        }
    }
});</code></pre> 
       <p>The <a href="../6.0.1-classic/#!/api/Ext.data.reader.Reader-method-totalProperty" data-full-load="true">Ext.data.reader.Reader#totalProperty</a> config tells <a href="../6.0.1-classic/#!/api/Ext.data.reader.Json" data-full-load="true">Ext.data.reader.Json</a> where to get the total number of results in the JSON response. This <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> is configured to consume a JSON response that looks something like this:</p> 
       <pre mode="javascript" theme="chrome"><code>{
    &quot;success&quot;: true,
    &quot;total&quot;: 12,
    &quot;users&quot;: [
        { &quot;name&quot;: &quot;Lisa&quot;, &quot;email&quot;: &quot;lisa@simpsons.com&quot;, &quot;phone&quot;: &quot;555-111-1224&quot; },
        { &quot;name&quot;: &quot;Bart&quot;, &quot;email&quot;: &quot;bart@simpsons.com&quot;, &quot;phone&quot;: &quot;555-222-1234&quot; },
        { &quot;name&quot;: &quot;Homer&quot;, &quot;email&quot;: &quot;homer@simpsons.com&quot;, &quot;phone&quot;: &quot;555-222-1244&quot; },
        { &quot;name&quot;: &quot;Marge&quot;, &quot;email&quot;: &quot;marge@simpsons.com&quot;, &quot;phone&quot;: &quot;555-222-1254&quot; }
    ]
}</code></pre> 
       <h3 id="Paging_Toolbar">Paging Toolbar</h3> 
       <p>Now that we’ve set up our <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">Ext.data.Store</a> to support paging, all that’s left is to configure a <a href="../6.0.1-classic/#!/api/Ext.toolbar.Paging" data-full-load="true">Ext.toolbar.Paging</a>. You could put the <a href="../6.0.1-classic/#!/api/Ext.toolbar.Paging" data-full-load="true">Ext.toolbar.Paging</a> anywhere in your application layout, but typically it is docked to the <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Ext.grid.Panel</a>:</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.create('Ext.grid.Panel', {
    store: userStore,
    columns: ...,
    dockedItems: [{
        xtype: 'pagingtoolbar',
        store: userStore,   // same store GridPanel is using
        dock: 'bottom',
        displayInfo: true
    }]
});</code></pre> 
       <p><img src="images/paging_toolbar.png" /></p> 
       <p>See the <a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#paging-grid">Paging Grid</a> for a working example.</p> 
       <h3 id="Buffered_Rendering">Buffered Rendering</h3> 
       <p>Grids enable buffered rendering of extremely large datasets as an alternative to using a paging toolbar. Your users can scroll through thousands of records without the performance penalties of renderering all the records on screen at once. The Grid should be bound to a <a href="../6.0.1-classic/#!/api/Ext.data.BufferedStore" data-full-load="true">Ext.data.BufferedStore</a> with a pageSize specified.</p> 
       <p>Only enough rows are rendered to fill the visible area of the Grid with a little <a href="../6.0.1-classic/#!/api/Ext.grid.Panel-cfg-leadingBufferZone" data-full-load="true">Ext.grid.Panel-cfg-leadingBufferZone</a> overflow either side to allow scrolling. As scrolling proceeds, new rows are rendered in the direction of scroll, and rows are removed from the receding side of the table.</p> 
       <p>Grids use buffered rendering by default, so you no longer need to add the plugin to your Grid component.</p> 
       <p>See <a href="../../../../dev.sencha.com/ext/5.1.0/examples/grid/buffer-grid.html">Buffered Renderer</a> for a working example.</p> 
      </div> 
      <div class="tpl-content-lastUpdated">
        Last updated 
       <div id="tpl-content-lastUpdated-date" itemprop="datePublished" datetime="2016-04-01T12:27Z">
         April 1, 2016 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="footer"> 
   <div id="footer-social"> 
    <div class="g-plusone" data-size="medium" data-annotation="none"></div> 
   </div> 
   <div id="footer-content"> 
    <a href="../../../../www.sencha.com/products">Products</a> | 
    <a href="../../../../www.sencha.com/services">Services</a> | 
    <a href="../../../../www.sencha.com/support">Support</a> | 
    <a href="../../../../www.sencha.com/training">Training</a> | 
    <a href="../../../../www.sencha.com/partners">Partners</a> | 
    <a href="../../../../www.sencha.com/blog">Community</a> | 
    <a href="../../../../www.sencha.com/company">Company</a> 
   </div> 
  </div> 
  <div id="menu-product-container" style="display:none;"> 
   <div id="menu-dropdown"> 
    <div class="menu-landing-products"> 
     <div id="menu-vertical"> 
      <p class="menu-landing-product" rel="extjs"> <a> Sencha Ext JS </a> </p> 
      <p class="menu-landing-product" rel="cmd"> <a> Sencha Cmd </a> </p> 
      <p class="menu-landing-product" rel="sencha_test"> <a> Sencha Test </a> </p> 
      <p class="menu-landing-product" rel="ide_plugins"> <a> Sencha IDE Plugins </a> </p> 
      <p class="menu-landing-product" rel="sencha_inspector"> <a> Sencha Inspector </a> </p> 
      <p class="menu-landing-product" rel="gxt"> <a> Sencha GXT </a> </p> 
      <p class="menu-landing-product" rel="webappmgr"> <a> Sencha Web Application Manager </a> </p> 
      <p class="menu-landing-product" rel="architect"> <a> Sencha Architect </a> </p> 
      <p class="menu-landing-product" rel="touch"> <a> Sencha Touch </a> </p> 
     </div> 
    </div> 
    <div id="menu-product-details"> 
     <div id="extjs-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Ext JS 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../default.htm"> 6.0.2 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.2-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.2-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.1 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.1-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.1-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.0 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.0-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip" style="padding-left:0;" href="../../../downloads/extjs-docs-6.0.0-modern.zip"> (modern) </a> 
      <div class="menu-landing-doc-heading">
        5.1.x 
      </div> 
      <a href="../../5.1/default.htm"> 5.1.2 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.1 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.1.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.0.x 
      </div> 
      <a href="../../5.0/default.htm"> 5.0.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.0/default.htm"> 5.0.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.2.x 
      </div> 
      <a href="../../4.2.5/default.htm"> 4.2.5 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.5.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.4/default.htm"> 4.2.4 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.4.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.3/default.htm"> 4.2.3 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.3.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.2/default.htm"> 4.2.2 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.1/default.htm"> 4.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.0/default.htm"> 4.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.1.x 
      </div> 
      <a href="../../4.1.3/default.htm"> 4.1.3 </a> 
      <br /> 
      <a href="../../4.1.2/default.htm"> 4.1.2 </a> 
      <br /> 
      <a href="../../4.1.1/default.htm"> 4.1.1 </a> 
      <br /> 
      <a href="../../4.1.0/default.htm"> 4.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.0.x 
      </div> 
      <a href="../../4.0.7/default.htm"> 4.0.7 </a> 
      <br /> 
      <a href="../../4.0.0/default.htm"> 4.0.0 </a> 
     </div> 
     <div id="cmd-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Cmd 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../../../cmd/6.x"> 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.x 
      </div> 
      <a href="../../../cmd/5.x"> 5.x </a> 
     </div> 
     <div id="sencha_test-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Test 
      </div> 
      <a href="../../../sencha_test/index.html"> Sencha Test </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="ide_plugins-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha IDE Plugins 
      </div> 
      <a href="../../../ide_plugins/jetbrains_ide_plugin.html"> JetBrains Plugin 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/eclipse_ide_plugin.html"> Eclipse Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/visual_studio_ide_plugin.html"> Visual Studio Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="sencha_inspector-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Inspector 
      </div> 
      <a href="../../../sencha_inspector/index.html"> Sencha Inspector 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="gxt-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha GXT 
      </div> 
      <!-- GXT 4.0 --> 
      <div class="menu-landing-doc-heading">
        4.0 
       <span class="tpl-toc-img-new">★</span> 
      </div> 
      <a href="../../../../examples.sencha.com/gxt/4.0.1"> 4.0 Explorer Examples </a> 
      <br /> 
      <a href="../../../../examples.sencha.com/gxt-edash/4.0.1"> 4.0 Dashboard Example </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/gxt/examples-src/gxt-edash-4.0.1.zip"> (War) </a> 
      <br /> 
      <a href="../../../gxt/4.x/default.htm"> 4.0 Guides </a> 
      <br /> 
      <a href="../../../gxt/4.x/javadoc/gxt-4.0.0"> 4.0 Javadoc </a> 
      <br /> 
      <!-- GXT 3.1.x --> 
      <div class="menu-landing-doc-heading">
        3.1 
      </div> 
      <a href="../../../../www.sencha.com/examples/default.htm"> 3.1.4 Examples </a> 
      <br /> 
      <a href="../../../gxt/3.x/default.htm"> 3.1.4 Guides </a> 
      <br /> 
      <a href="../../../gxt/3.x/javadoc"> 3.1.4 Javadoc </a> 
      <br /> 
      <!-- GXT 3.0.x --> 
      <!-- GXT 2.x --> 
      <div class="menu-landing-doc-heading">
        2.0 
      </div> 
      <a href="../../../../https@www.sencha.com/examples-2/default.htm"> 2.3.1 Examples </a> 
     </div> 
     <div id="webappmgr-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Web Application Manager 
      </div> 
      <div class="menu-landing-doc-heading">
        6.0.x 
      </div> 
      <a href="../../../webappmgr"> 6.0.0 </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="architect-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Architect 
      </div> 
      <div class="menu-landing-doc-heading">
        3.x 
      </div> 
      <a href="../../../architect/3.5/default.htm"> 3.5 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../architect/3/default.htm"> 3.2 </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../../cdn.sencha.com/downloads/docs/architect-docs-3.zip"> (offline docs) </a> 
     </div> 
     <div id="touch-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Touch 
      </div> 
      <div class="menu-landing-doc-heading">
        2.4.x 
      </div> 
      <a href="../../../touch/2.4/default.htm"> 2.4.2 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/touch-docs-2.4.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/default.htm"> 2.4.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/2.4.0-apidocs"> 2.4.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.0.zip"> (offline docs) </a> 
      <div class="menu-landing-doc-heading">
        2.3.x 
      </div> 
      <a href="../../../touch/2.3.1/default.htm"> 2.3.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.3.0/default.htm"> 2.3.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.2.x 
      </div> 
      <a href="../../../touch/2.2.1/default.htm"> 2.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.2.0/default.htm"> 2.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.1.x 
      </div> 
      <a href="../../../touch/2.1.1/default.htm"> 2.1.1 </a> 
      <br /> 
      <a href="../../../touch/2.1.0/default.htm"> 2.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.0.x 
      </div> 
      <a href="../../../touch/2.0.2/default.htm"> 2.0.2 </a> 
      <br /> 
      <a href="../../../touch/2.0.1/default.htm"> 2.0.1 </a> 
      <br /> 
      <a href="../../../touch/2.0.0/default.htm"> 2.0.0 </a> 
     </div> 
    </div> 
   </div> 
  </div> 
   
  <script type="text/javascript">
    adroll_adv_id = "5RM2BL5IGRFLRG5VDQ7OIE";
    adroll_pix_id = "LWO7UZXBFVESTOMYFI2LYS";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username_40example.com"; */
    (function () {
      var _onload = function(){
        if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
        if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "../../../../https@s.adroll.com" : "../../../../a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      };
      if (window.addEventListener) {window.addEventListener('load', _onload, false);}
      else {window.attachEvent('onload', _onload)}
    }());
  </script> 
  <script>
    var menu = document.getElementById("tpl-toc"),
        link_obj = document.getElementById("mobile_menu_link"),
        links = menu.querySelectorAll('a');

    for(i=0; i < links.length; i++) {
      links[i].onclick = function() {
        var mq = window.matchMedia('only screen and (max-width: 768px)');

        if(mq.matches) {
          menu.style.display = 'none';
          link_obj.innerHTML = 'MENU';
        }
      }
    }

  </script> 
  <script type="text/javascript">
    </script>              <script src='../../../../munchkin.marketo.net/munchkin-beta.js' type='text/javascript'></script><script>Munchkin.init('374-WES-121');</script>   
 
</body></html>