<!DOCTYPE html><html><head> 
  <link href="../css/main.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="../MarkdownWebapp/MarkdownWebapp.nocache.js"></script> 
  <script type="text/javascript" src="../ace/ace.js"></script> 
  <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
  <script type="text/javascript">window["_GOOG_TRANS_EXT_VER"] = "1";</script> 
  <title>Ext JS 向导 | Widgets and Widget Columns</title> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script async="" type="text/javascript" src="../../../../https@use.typekit.com/bqo8qzg.js"></script> 
  <script type="text/javascript">

    function showMenu(link_obj){
      var menu = document.getElementById("tpl-toc");

      link_obj.innerHTML = (link_obj.innerHTML == 'CLOSE MENU') ? 'MENU' : 'CLOSE MENU';

      if(menu.style.display == 'block'){
         menu.style.display = 'none';
      }else{
         menu.style.display = 'block';
      }
    }

  </script> 
 </head> 
 <body> 
  <div id="header"> 
   <a href="../../../../www.sencha.com/default.htm"><img class="sencha-logo" src="../images/logo.png" /></a> 
   <h1 id="current-product"><a href="#">Ext JS 向导 ▼</a></h1> 
   <div id="mobile_menu"> 
    <a id="mobile_menu_link" onclick="showMenu(this);" href="#">MENU</a> 
   </div> 
    
  </div> 
  <div id="content" itemscope="" itemtype="http://schema.org/Article"> 
   <div id="tpl-toc"> 
    <div id="tpl-toc-content"> 
     <a class="toggle-button" href="#">expand</a> 
     <ul> 
      <li class="file"><a href="../../../default.htm" data-full-load="true" title="Home">Sencha 向导</a></li> 
      <li class="file"><a href="../index.html" title="Guide Home">Sencha Ext JS 向导</a></li> 
      <li class="folder"><a href="#">快速入门</a> 
       <ul expand="false"> 
        <li class="file"><a href="../getting_started/getting_started.html" title="Get Started">安装 &amp; 快速入门</a></li> 
        <li class="file"><a href="../getting_started/extjs_faq.html" title="">Ext JS - 问答</a></li> 
        <li class="file"><a href="../getting_started/login_app.html" title="">创建一个简单的登录应用</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Ext JS 6 API 文档</a> 
       <ul expand="false"> 
        <li class="file"><a href="../6.0.2-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.2-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.2 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.1-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.1-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.1 Modern API 文档</a></li> 
        <li class="file"><a href="../6.0.0-classic/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Classic API 文档</a></li> 
        <li class="file"><a href="../6.0.0-modern/default.htm" data-full-load="true" title="Api Docs">Ext JS 6.0.0 Modern API 文档</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">API 版本差异</a> 
       <ul expand="false"> 
        <li class="file"><a href="../api_diffs/602_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Classic</a></li> 
        <li class="file"><a href="../api_diffs/602_modern_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.1 &amp; 6.0.2 Modern</a></li> 
        <li class="file"><a href="../api_diffs/601_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Classic</a></li> 
        <li class="file"><a href="../api_diffs/601_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between 6.0.0 &amp; 6.0.1 Modern</a></li> 
        <li class="file"><a href="../api_diffs/600_classic_diff.html" title="Between 5.1.1 &amp; 6.0.0">Between 5.1.1 &amp; 6.0.0 Classic</a></li> 
        <li class="file"><a href="../api_diffs/600_modern_diff.html" title="Between Touch 2.4.2 &amp; 6.0.0">Between Touch 2.4.2 &amp; 6.0.0 Modern</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">Examples</a> 
       <ul expand="false"> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.2/examples/default.htm" data-full-load="true" title="">6.0.2 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.1/examples/default.htm" data-full-load="true" title="">6.0.1 Examples</a></li> 
        <li class="file"><a href="../../../../examples.sencha.com/extjs/6.0.0/examples/default.htm" data-full-load="true" title="">6.0.0 Examples</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">新特性</a> 
       <ul expand="false"> 
        <li class="file"><a href="../whats_new/release_notes.html" title="">版本发布说明</a></li> 
        <li class="file"><a href="../whats_new/whats_new.html" title="">Ext JS 6 新特性</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">升级 &amp; 迁移</a> 
       <ul expand="false"> 
        <li class="file"><a href="../upgrades_migrations/extjs_upgrade_guide.html" title="">Ext JS 5 到 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/modern_upgrade_guide.html" title="">Touch 2.4 to 6 - 升级向导</a></li> 
        <li class="file"><a href="../upgrades_migrations/pivot_grid_update_guide.html" title="">Ext JS 6 - Pivot Grid 升级向导</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">核心思想</a> 
       <ul expand="false"> 
        <li class="file"><a href="../core_concepts/classes.html" title="The 类系统">类系统</a></li> 
        <li class="file"><a href="../core_concepts/layouts.html" title="布局和容器">布局和容器</a></li> 
        <li class="file"><a href="../core_concepts/components.html" title="Components">Components</a></li> 
        <li class="file"><a href="../core_concepts/data_package.html" title="数据封装">数据封装</a></li> 
        <li class="file"><a href="../core_concepts/events.html" title="Events in Ext JS">事件和手势</a></li> 
        <li class="file"><a href="../core_concepts/drag_drop.html" title="拖放">拖放</a></li> 
        <li class="file"><a href="../core_concepts/theming.html" title="Theming Ext JS">主题</a></li> 
        <li class="file"><a href="../core_concepts/memory_management.html" title="">内存管理</a></li> 
        <li class="file"><a href="../core_concepts/accessibility.html" title="无障碍">无障碍</a></li> 
        <li class="file"><a href="../core_concepts/localization.html" title="本地化">本地化</a></li> 
        <li class="file"><a href="../core_concepts/rtl.html" title="Right to Left in Ext JS">Right to Left in Ext JS</a></li> 
        <li class="file"><a href="../core_concepts/font_ext.html" title="">Sencha 字体包</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../core_concepts/tablet_support.html" title="平板设备支持">平板设备支持</a></li> 
        <li class="folder"><a href="#">绘图封装</a> 
         <ul expand="false"> 
          <li class="file"><a href="../core_concepts/draw/drawing.html" title="">绘图封装</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt1.html" title="">Creating Images with Draw - Part 1</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt2.html" title="">Creating Images with Draw - Part 2</a></li> 
          <li class="file"><a href="../core_concepts/draw/creating_images_with_draw_pt3.html" title="">Creating Images with Draw - Part 3</a></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">架构</a> 
       <ul expand="false"> 
        <li class="file"><a href="../application_architecture/application_architecture.html" title="应用程序架构介绍">应用程序架构介绍</a></li> 
        <li class="file"><a href="../application_architecture/developing_for_multiple_screens_and_environments.html" title="应用程序架构介绍">多屏幕开发</a></li> 
        <li class="file"><a href="../application_architecture/view_controllers.html" title="视图控制器View Controllers">视图控制器View Controllers</a></li> 
        <li class="file"><a href="../application_architecture/view_models_data_binding.html" title="View Models &amp; 数据绑定">View Models &amp; 数据绑定</a></li> 
        <li class="file"><a href="../application_architecture/view_model_internals.html" title="View Models Internals">View Model 内部机制</a></li> 
        <li class="file"><a href="../application_architecture/router.html" title="使用路由">使用路由</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">UI 组件</a> 
       <ul expand="false"> 
        <li class="file"><a href="forms.html" title="Forms">Forms</a></li> 
        <li class="file"><a href="introduction_to_charting.html" title="图表Charts介绍">图表Charts介绍</a></li> 
        <li class="file"><a href="trees.html" title="Trees">Trees</a></li> 
        <li class="file"><a href="grids.html" title="Grids">Grids</a></li> 
        <li class="file"><a href="pivot_grid.html" title="Pivot Grid">Pivot Grid</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="widgets_widgets_columns.html" title="Widgets and Widget Columns">Widgets and Widget Columns</a></li> 
       </ul></li> 
      <li class="folder"><a href="#">后台连接</a> 
       <ul expand="false"> 
        <li class="file"><a href="../backend_connectors/soap.html" title="SOAP服务">SOAP服务</a></li> 
        <li class="file"><a href="../backend_connectors/amf.html" title="AMF 数据源">AMF 数据源</a></li> 
        <li class="folder"><a href="#">Ext Direct</a> 
         <ul expand="false"> 
          <li class="file"><a href="../backend_connectors/direct/specification.html" title="Ext Direct 说明">Ext Direct 说明</a><span class="tpl-toc-img-new">★</span></li> 
          <li class="file"><a href="../backend_connectors/direct/mysql_php.html" title="Ext Direct 结合 MySQL 和 PHP">Ext Direct 结合 MySQL 和 PHP</a><span class="tpl-toc-img-new">★</span></li> 
         </ul></li> 
       </ul></li> 
      <li class="folder"><a href="#">其它</a> 
       <ul expand="false"> 
        <li class="file"><a href="../other_resources/oop_concepts.html" title="">OOP基础</a><span class="tpl-toc-img-new">★</span></li> 
        <li class="file"><a href="../other_resources/ecosystem.html" title="">Ext JS 生态</a></li> 
        <li class="file"><a href="../other_resources/sencha_blog.html" title="">来自 Sencha 博客</a></li> 
       </ul></li> 
      <li class="file"><a href="../supported_browsers.html" title="支持的浏览器">支持的浏览器</a></li> 
     </ul> 
    </div> 
   </div> 
   <div id="middle"> 
    <div id="tpl-content"> 
     <div> 
      <div class="toc-page" style="display:block;">
        Contents 
       <a class="toc-page-h2" href="#Using_Widgets" title="Using Widgets">Using Widgets</a> 
       <a class="toc-page-h2" href="#The_Widget_Column" title="The Widget Column">The Widget Column</a> 
       <a class="toc-page-h3" href="#Understanding_the__widget__Config" title="Understanding the “widget” Config">Understanding the “widget” Config</a> 
       <a class="toc-page-h2" href="#Use_Buffered_Rendering" title="Use Buffered Rendering">Use Buffered Rendering</a> 
       <a class="toc-page-h2" href="#Custom_Widgets" title="Custom Widgets">Custom Widgets</a> 
      </div> 
      <div id="tpl-content-name" itemprop="name"> 
       <h1>Widgets and the Widget Column</h1> 
      </div> 
      <div id="tpl-content-articleBody" itemprop="articleBody"> 
       <p>The <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> class, or just <strong>“widget”</strong>, is a lightweight class similar to <a href="../6.0.1-classic/#!/api/Ext.Component" data-full-load="true">Component</a>, but consists solely of an <a href="../6.0.1-classic/#!/api/Ext.dom.Element" data-full-load="true">Ext.dom.Element</a> and associated listeners. This makes a Widget quite different from a normal Component because the Ext.Widget class does not derive from <a href="../6.0.1-classic/#!/api/Ext.Component" data-full-load="true">Ext.Component</a>. Component provides robust life-cycle management, which adds a tremendous amount of functionality. This functionality, however, comes at some cost.</p> 
       <p>We have provided a few stock Widgets with Ext JS 5+. These include:</p> 
       <ul> 
        <li><strong>Progress Bar</strong> (<a href="../6.0.1-classic/#!/api/Ext.ProgressBarWidget" data-full-load="true">Ext.ProgressBarWidget</a> or “progressbarwidget”)</li> 
        <li><strong>Slider</strong> (<a href="../6.0.1-classic/#!/api/Ext.slider.Widget" data-full-load="true">Ext.slider.Widget</a> or “sliderwidget”)</li> 
        <li><strong>Sparklines</strong> (Ext.sparkline.*) 
         <ul> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.Line" data-full-load="true">Line</a> (“sparklineline”)</li> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.Bar" data-full-load="true">Bar</a> (“sparklinebar”)</li> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.Discrete" data-full-load="true">Discrete</a> (“sparklinediscrete”)</li> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.Bullet" data-full-load="true">Bullet</a> (“sparklinebullet”)</li> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.Pie" data-full-load="true">Pie</a> (“sparklinepie”)</li> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.Box" data-full-load="true">Box</a> (“sparklinebox”)</li> 
          <li><a href="../6.0.1-classic/#!/api/Ext.sparkline.TriState" data-full-load="true">TriState</a> (“sparklinetristate”)</li> 
         </ul></li> 
       </ul> 
       <p>In this guide we will cover how to use and create Widgets. We will also explore our newest creation, the Widget Column.</p> 
       <h2 id="Using_Widgets">Using Widgets</h2> 
       <p>As with normal Components, Widgets can be added to the <a href="../6.0.1-classic/#!/api/Ext.container.Container-cfg-items" data-full-load="true">items</a> of a Container. For example, we can add a Sparkline to a <a href="../6.0.1-classic/#!/api/Ext.toolbar.Toolbar" data-full-load="true">toolbar</a>:</p> 
       <div mode="javascript" theme="chrome"><div class="example" baseurl="./..">
	<a class="code-tab-editor code-tab-active" onclick="displayTabEditor(this)">Editor</a>
	<a class="code-tab-preview" onclick="displayTabPreview(this)">Preview</a>
	<a class="code-tab-fiddler" onclick="displayTabFiddler(this)">Open in Fiddle</a>
	<div class="code-editor"><pre><code>var panel = Ext.create({
    xtype: 'panel',
    title: 'Title',
    frame: true,
    renderTo: document.body,
    width: 250, 
    height: 150,
    html: 'Some text',
    tbar: [{
        text: 'Button'
    }, '-&gt;', {
        xtype: 'sparklineline',
        fillColor: '#ddf',
        width: 100,
        height: 20,
        values: [2, 3, 0, 4, -1]
    }]
});</code></pre></div>
	
	<div class="code-live-preview-wrapper">
		<iframe class="code-live-preview" style="display:none" url="./../editor-preview/extjs.html"></iframe>
	</div>
</div></div> 
       <p>In the case of Sparklines, you must provide a size (both <code>width</code> and <code>height</code>) or use an Ext JS <a href="../6.0.1-classic/#!/api/Ext.layout.container.Container" data-full-load="true">layout</a> manager to do so. This is because the internal drawings have no natural size.</p> 
       <h2 id="The_Widget_Column">The Widget Column</h2> 
       <p>One of the more sought after bits of functionality in Ext JS has always been to easily add Components to a <a href="../6.0.1-classic/#!/api/Ext.grid.Panel" data-full-load="true">Grid</a>. If this is something you’ve always wanted to do, then say hello to the <a href="../6.0.1-classic/#!/api/Ext.grid.column.Widget" data-full-load="true">Widget Column</a>!</p> 
       <p>Widget Column allows you to easily render any Component or Widget into a Grid cell. Adding a Widget Column couldn’t be easier. Simply assign your column an <code>xtype</code> of <strong>“widgetcolumn”</strong> and specify its <a href="../6.0.1-classic/#!/api/Ext.grid.column.Widget-cfg-widget" data-full-load="true">widget</a> config. The <code>widget</code> config is an object that contains the <strong>xtype</strong> to create for each cell. This <code>xtype</code> can refer to any <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> or <a href="../6.0.1-classic/#!/api/Ext.Component" data-full-load="true">Ext.Component</a> class.</p> 
       <p>Using the Widget Column to add Sparkline widgets to a Grid, you can accomplish an impressive amount of data visualization as you can see below.</p> 
       <p><img src="images/KS-sparklines.jpeg" /></p> 
       <p>For a live example of the above image, please visit the [Kitchen Sink](<a href="../../../../dev.sencha.com/ext/5.1.0/examples/kitchensink/#widget-grid">Paging Grid</a>).</p> 
       <p>Enough talk, let’s see this thing in action. In the following example, we create a <a href="../6.0.1-classic/#!/api/Ext.data.Store" data-full-load="true">store</a> with a small set of records that populates a Grid with a Widget Column.</p> 
       <p>The Widget Column contains a Progress Bar widget, which is added to each row. </p> 
       <div mode="javascript" theme="chrome"><div class="example" baseurl="./..">
	<a class="code-tab-editor code-tab-active" onclick="displayTabEditor(this)">Editor</a>
	<a class="code-tab-preview" onclick="displayTabPreview(this)">Preview</a>
	<a class="code-tab-fiddler" onclick="displayTabFiddler(this)">Open in Fiddle</a>
	<div class="code-editor"><pre><code>var store = Ext.create('Ext.data.Store', {
    fields: ['name','progress'],
    data: [
        { name: 'Test 1', progress: 0.10 },
        { name: 'Test 2', progress: 0.23 },
        { name: 'Test 3', progress: 0.86 },
        { name: 'Test 4', progress: 0.31 }
    ]
});

Ext.create({
    xtype: 'grid',
    title: 'Widget Column Demo',
    store: store,

    columns: [{
        text: 'Test Number',
        dataIndex: 'name',
        width: 100
    }, {
        xtype: 'widgetcolumn',
        text: 'Progress',
        width: 120,
        dataIndex: 'progress',
        widget: {
            xtype: 'progressbarwidget',
            textTpl: '{value:percent}'
        }
    }],

    width: 220,
    height: 250,
    renderTo: document.body
});</code></pre></div>
	
	<div class="code-live-preview-wrapper">
		<iframe class="code-live-preview" style="display:none" url="./../editor-preview/extjs.html"></iframe>
	</div>
</div></div> 
       <h3 id="Understanding_the__widget__Config">Understanding the “widget” Config</h3> 
       <p>The <code>widget</code> config of a Widget Column is used to create multiple instances of the Widget. Based on the <code>xtype</code> contained in the <code>widget</code> config, the Widget Column will create an object that is either derived from <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> or from <a href="../6.0.1-classic/#!/api/Ext.Component" data-full-load="true">Ext.Component</a>. This config cannot be an instance already because Widget Column needs one instance per rendered cell.</p> 
       <p>While the <code>widget</code> config is used to create multiple instances of the desired Component or Widget, each instance must be connected with a specific record and row in the Grid. Over the lifetime of the Grid, the Widgets created for a row will be “recycled” and connected to different records and rows.</p> 
       <h2 id="Use_Buffered_Rendering">Use Buffered Rendering</h2> 
       <p>Widgets are lighter weight than Components and using the <strong>progressbar</strong> or <strong>slider</strong> Widget can make your Grid more responsive. But, if the Grid has more than a handful of rows having a Component or Widget per row could make for a slugish rendering and scrolling experience. Fortunately, the Grid uses <a href="../6.0.1-classic/#!/api/Ext.grid.Panel-cfg-bufferedRenderer" data-full-load="true">bufferedRendering</a> by default. The <a href="../6.0.1-classic/#!/api/Ext.grid.plugin.BufferedRenderer" data-full-load="true">bufferedrenderer</a> creates a fixed number of Components or Widgets. Those items are then recycled from un-rendered rows and added to newly created rows.</p> 
       <h2 id="Custom_Widgets">Custom Widgets</h2> 
       <p>While Ext JS 5 ships with a “widget-ized” version of the Slider and Progressbar as well as the new Sparklines, there will most likely be situations in which you’d like to create your own Widgets. The decision of whether to derive from <a href="../6.0.1-classic/#!/api/Ext.Component" data-full-load="true">Ext.Component</a> vs <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> really comes down to the complexity of the class being created.<br />Simple componentry can often avoid things like the Component life-cycle and layouts and just map config properties to the associated elements while responding to element events (_like ‘click’, ‘dblclick’, ‘mouseover’, etc._).</p> 
       <p>To create a Widget you extend <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> and define your element template and its <a href="../6.0.1-classic/#!/api/Ext.Widget-fg-listeners" data-full-load="true">listeners</a>.</p> 
       <pre mode="javascript" theme="chrome"><code>Ext.define('MyWidget', {
    extend: 'Ext.Widget',

    // The element template - passed to Ext.Element.create()
    element: {
        reference: 'element',
        listeners: {
            click: 'onClick'
        },
        children: [{
            reference: 'innerElement',
            listeners: {
                click: 'onInnerClick'
            }
        }]
    },

    constructor: function(config) {
        // Initializes our element from the template, and calls initConfig().
        this.callParent([config]);

        // After calling the superclass constructor, the Element is available and
        // can safely be manipulated.  Reference Elements are instances of
        // Ext.Element, and are cached on each Widget instance by reference name.
    },

    onClick: function() {
       // Listeners use this Widget instance as their scope
        console.log('element clicked', this);
    },

    onInnerClick: function() {
        // Access the innerElement reference by name
        console.log('inner element clicked', this.innerElement);
    }
});</code></pre> 
       <p>This will feel very familiar to those who have written a Sencha Touch Component. That is because <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> is an enhanced version of <strong>Ext.AbstractComponent</strong> from Sencha Touch. The ability to add <code>listeners</code> to the <code>element</code> template is one of those enhancements, but there are a handful of others. Refer to the documentation on <a href="../6.0.1-classic/#!/api/Ext.Widget" data-full-load="true">Ext.Widget</a> for more details.</p> 
      </div> 
      <div class="tpl-content-lastUpdated">
        Last updated 
       <div id="tpl-content-lastUpdated-date" itemprop="datePublished" datetime="2016-04-01T12:27Z">
         April 1, 2016 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="footer"> 
   <div id="footer-social"> 
    <div class="g-plusone" data-size="medium" data-annotation="none"></div> 
   </div> 
   <div id="footer-content"> 
    <a href="../../../../www.sencha.com/products">Products</a> | 
    <a href="../../../../www.sencha.com/services">Services</a> | 
    <a href="../../../../www.sencha.com/support">Support</a> | 
    <a href="../../../../www.sencha.com/training">Training</a> | 
    <a href="../../../../www.sencha.com/partners">Partners</a> | 
    <a href="../../../../www.sencha.com/blog">Community</a> | 
    <a href="../../../../www.sencha.com/company">Company</a> 
   </div> 
  </div> 
  <div id="menu-product-container" style="display:none;"> 
   <div id="menu-dropdown"> 
    <div class="menu-landing-products"> 
     <div id="menu-vertical"> 
      <p class="menu-landing-product" rel="extjs"> <a> Sencha Ext JS </a> </p> 
      <p class="menu-landing-product" rel="cmd"> <a> Sencha Cmd </a> </p> 
      <p class="menu-landing-product" rel="sencha_test"> <a> Sencha Test </a> </p> 
      <p class="menu-landing-product" rel="ide_plugins"> <a> Sencha IDE Plugins </a> </p> 
      <p class="menu-landing-product" rel="sencha_inspector"> <a> Sencha Inspector </a> </p> 
      <p class="menu-landing-product" rel="gxt"> <a> Sencha GXT </a> </p> 
      <p class="menu-landing-product" rel="webappmgr"> <a> Sencha Web Application Manager </a> </p> 
      <p class="menu-landing-product" rel="architect"> <a> Sencha Architect </a> </p> 
      <p class="menu-landing-product" rel="touch"> <a> Sencha Touch </a> </p> 
     </div> 
    </div> 
    <div id="menu-product-details"> 
     <div id="extjs-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Ext JS 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../default.htm"> 6.0.2 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.2-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.2-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.1 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.1-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/extjs-docs-6.0.1-modern.zip"> (modern) </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../default.htm"> 6.0.0 </a> 
      <a class="menu-landing-zip" style="padding-right:0;" href="../../../downloads/extjs-docs-6.0.0-classic.zip"> (classic) </a> 
      <a class="menu-landing-zip" style="padding-left:0;" href="../../../downloads/extjs-docs-6.0.0-modern.zip"> (modern) </a> 
      <div class="menu-landing-doc-heading">
        5.1.x 
      </div> 
      <a href="../../5.1/default.htm"> 5.1.2 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.1 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-5.1.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.1/default.htm"> 5.1.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.1.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.0.x 
      </div> 
      <a href="../../5.0/default.htm"> 5.0.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../5.0/default.htm"> 5.0.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/ext-docs-5.0.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.2.x 
      </div> 
      <a href="../../4.2.5/default.htm"> 4.2.5 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.5.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.4/default.htm"> 4.2.4 </a> 
      <a class="menu-landing-zip" href="../../../downloads/extjs-docs-4.2.4.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.3/default.htm"> 4.2.3 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.3.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.2/default.htm"> 4.2.2 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.1/default.htm"> 4.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/extjs-docs-4.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../4.2.0/default.htm"> 4.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.1.x 
      </div> 
      <a href="../../4.1.3/default.htm"> 4.1.3 </a> 
      <br /> 
      <a href="../../4.1.2/default.htm"> 4.1.2 </a> 
      <br /> 
      <a href="../../4.1.1/default.htm"> 4.1.1 </a> 
      <br /> 
      <a href="../../4.1.0/default.htm"> 4.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        4.0.x 
      </div> 
      <a href="../../4.0.7/default.htm"> 4.0.7 </a> 
      <br /> 
      <a href="../../4.0.0/default.htm"> 4.0.0 </a> 
     </div> 
     <div id="cmd-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Cmd 
      </div> 
      <div class="menu-landing-doc-heading">
        6.x 
      </div> 
      <a href="../../../cmd/6.x"> 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <div class="menu-landing-doc-heading">
        5.x 
      </div> 
      <a href="../../../cmd/5.x"> 5.x </a> 
     </div> 
     <div id="sencha_test-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Test 
      </div> 
      <a href="../../../sencha_test/index.html"> Sencha Test </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="ide_plugins-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha IDE Plugins 
      </div> 
      <a href="../../../ide_plugins/jetbrains_ide_plugin.html"> JetBrains Plugin 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/eclipse_ide_plugin.html"> Eclipse Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../ide_plugins/visual_studio_ide_plugin.html"> Visual Studio Plugin </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="sencha_inspector-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Inspector 
      </div> 
      <a href="../../../sencha_inspector/index.html"> Sencha Inspector 6.x </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="gxt-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha GXT 
      </div> 
      <!-- GXT 4.0 --> 
      <div class="menu-landing-doc-heading">
        4.0 
       <span class="tpl-toc-img-new">★</span> 
      </div> 
      <a href="../../../../examples.sencha.com/gxt/4.0.1"> 4.0 Explorer Examples </a> 
      <br /> 
      <a href="../../../../examples.sencha.com/gxt-edash/4.0.1"> 4.0 Dashboard Example </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/gxt/examples-src/gxt-edash-4.0.1.zip"> (War) </a> 
      <br /> 
      <a href="../../../gxt/4.x/default.htm"> 4.0 Guides </a> 
      <br /> 
      <a href="../../../gxt/4.x/javadoc/gxt-4.0.0"> 4.0 Javadoc </a> 
      <br /> 
      <!-- GXT 3.1.x --> 
      <div class="menu-landing-doc-heading">
        3.1 
      </div> 
      <a href="../../../../www.sencha.com/examples/default.htm"> 3.1.4 Examples </a> 
      <br /> 
      <a href="../../../gxt/3.x/default.htm"> 3.1.4 Guides </a> 
      <br /> 
      <a href="../../../gxt/3.x/javadoc"> 3.1.4 Javadoc </a> 
      <br /> 
      <!-- GXT 3.0.x --> 
      <!-- GXT 2.x --> 
      <div class="menu-landing-doc-heading">
        2.0 
      </div> 
      <a href="../../../../https@www.sencha.com/examples-2/default.htm"> 2.3.1 Examples </a> 
     </div> 
     <div id="webappmgr-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Web Application Manager 
      </div> 
      <div class="menu-landing-doc-heading">
        6.0.x 
      </div> 
      <a href="../../../webappmgr"> 6.0.0 </a> 
      <span class="tpl-toc-img-new">★</span> 
     </div> 
     <div id="architect-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Architect 
      </div> 
      <div class="menu-landing-doc-heading">
        3.x 
      </div> 
      <a href="../../../architect/3.5/default.htm"> 3.5 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <br /> 
      <a href="../../../architect/3/default.htm"> 3.2 </a> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../../cdn.sencha.com/downloads/docs/architect-docs-3.zip"> (offline docs) </a> 
     </div> 
     <div id="touch-menu-product" class="menu-specific-product"> 
      <div class="menu-landing-doc-heading">
        Sencha Touch 
      </div> 
      <div class="menu-landing-doc-heading">
        2.4.x 
      </div> 
      <a href="../../../touch/2.4/default.htm"> 2.4.2 </a> 
      <span class="tpl-toc-img-new">★</span> 
      <a class="menu-landing-zip menu-landing-lesspad" href="../../../downloads/touch-docs-2.4.2.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/default.htm"> 2.4.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.4/2.4.0-apidocs"> 2.4.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.4.0.zip"> (offline docs) </a> 
      <div class="menu-landing-doc-heading">
        2.3.x 
      </div> 
      <a href="../../../touch/2.3.1/default.htm"> 2.3.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.3.0/default.htm"> 2.3.0 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.3.0.zip"> (offline docs) </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.2.x 
      </div> 
      <a href="../../../touch/2.2.1/default.htm"> 2.2.1 </a> 
      <a class="menu-landing-zip" href="../../../../cdn.sencha.com/downloads/docs/touch-docs-2.2.1.zip"> (offline docs) </a> 
      <br /> 
      <a href="../../../touch/2.2.0/default.htm"> 2.2.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.1.x 
      </div> 
      <a href="../../../touch/2.1.1/default.htm"> 2.1.1 </a> 
      <br /> 
      <a href="../../../touch/2.1.0/default.htm"> 2.1.0 </a> 
      <br /> 
      <div class="menu-landing-doc-heading">
        2.0.x 
      </div> 
      <a href="../../../touch/2.0.2/default.htm"> 2.0.2 </a> 
      <br /> 
      <a href="../../../touch/2.0.1/default.htm"> 2.0.1 </a> 
      <br /> 
      <a href="../../../touch/2.0.0/default.htm"> 2.0.0 </a> 
     </div> 
    </div> 
   </div> 
  </div> 
   
  <script type="text/javascript">
    adroll_adv_id = "5RM2BL5IGRFLRG5VDQ7OIE";
    adroll_pix_id = "LWO7UZXBFVESTOMYFI2LYS";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username_40example.com"; */
    (function () {
      var _onload = function(){
        if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
        if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "../../../../https@s.adroll.com" : "../../../../a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      };
      if (window.addEventListener) {window.addEventListener('load', _onload, false);}
      else {window.attachEvent('onload', _onload)}
    }());
  </script> 
  <script>
    var menu = document.getElementById("tpl-toc"),
        link_obj = document.getElementById("mobile_menu_link"),
        links = menu.querySelectorAll('a');

    for(i=0; i < links.length; i++) {
      links[i].onclick = function() {
        var mq = window.matchMedia('only screen and (max-width: 768px)');

        if(mq.matches) {
          menu.style.display = 'none';
          link_obj.innerHTML = 'MENU';
        }
      }
    }

  </script> 
  <script type="text/javascript">
    </script>              <script src='../../../../munchkin.marketo.net/munchkin-beta.js' type='text/javascript'></script><script>Munchkin.init('374-WES-121');</script>   
 
</body></html>